/* Blog Component */

@import 'breakpoints-scss';
@import 'variables';

.c-blog {
  display: flex;
  flex-direction: column;
  gap: $space-base;
  padding-inline: $space-base;

  h2 {
    margin: 0;
    font-size: 1rem;
  }

  footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: $space-base;
  }
}

.c-blog__content {
  margin-block-end: auto;
}

@include minwidth1 {

  .c-blog {
    padding-inline-start: 0;
  }
}
