/* Blog Component */

@import 'breakpoints-scss';
@import 'variables';

.c-blog {
  display: flex;
  flex-direction: column;
  gap: $space-base;

  h2 {
    margin: 0;
    font-size: 1rem;
  }

  footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: $space-base;
  }
}

.c-blog__content {
  min-block-size: 2.5em; // #1
  margin-block-end: auto;

  @keyframes fadein { // #2

    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  a {
    animation: fadein 0.5s;
  }
}

// #1: Provide enough height for two lines of text at short/narrow screen sizes so that t-home grid row doesn't shift down when new 2-line item rotates in and replaces 1-line item.

// #2: Fade in link when it's updated in the DOM
