/* Blog Component */

@import 'breakpoints-scss';
@import 'variables';

.c-blog {
  display: flex;
  flex-direction: column;
  gap: $space-base;
  padding-inline: $space-base;

  h2 {
    margin: 0;
    font-size: 1rem;
  }

  footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: $space-base;
  }
}

.c-blog__content {
  min-block-size: 3em; // #1
  margin-block-end: auto;

  @keyframes fadein { // #2

    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  a {
    animation: fadein 0.5s;
  }
}

@include minwidth1 {

  .c-blog {
    padding-inline-start: 0;
  }
}

// #1: Allow link text to wrap to 2 lines without shifting t-home grid row

// #2: Fade in link when it's updated in the DOM
