/* Call To Action Component */

@import 'variables';

.c-calltoaction {
  padding: $space-base $space-lg;
  background-color: hsla(hue($color-dmp-blue), saturation($color-dmp-blue), lightness($color-dmp-blue), 0.85);
  color: $color-white;
  font-size: 2rem;
  font-weight: 300;
}
