/* Footer Component */

@import 'breakpoints-scss';
@import 'variables';

.c-footer {
  display: grid;
  gap: $space-base $space-lg;
  padding: $space-base;
  background-color: $color-gray-light;
  font-size: 0.8rem;
}

@include minwidth1 {

  .c-footer {
    grid-template-columns: auto 1fr;

    .c-logo-cdl {
      grid-row: 1 / 3;
    }

    .c-footernav {
      grid-column: 2;
    }

    .c-copyright {
      grid-column: 2;
    }
  }
}
