/* Generic Page */

@import 'breakpoints-scss';
@import 'variables';

.t-generic {
  display: grid;
  gap: $space-base;
  grid-template-rows: auto 1fr auto;
  height: 100vh;

  main {
    margin-inline: $space-base;

    // Override for DMPRoadmap's: 'main { margin-bottom: 100px; }'
    margin-bottom: 10px;
  }

  // Override for DMPRoadmap `footer { margin-bottom: -20px; }`
  footer {
    margin-bottom: auto;
  }
}

@include minwidth1 {

  .t-generic {
    max-width: 1500px;
    margin: 0 auto;
  }
}
