/* Generic Page */

@import 'breakpoints-scss';
@import 'variables';

.t-generic {
  display: grid;
  gap: $space-base;
  grid-template-rows: auto 1fr auto;
  height: 100vh;

  main {
    margin-inline: $space-base;
  }
}

@include minwidth1 {

  .t-generic {
    max-width: 1500px;
    margin: 0 auto;
  }
}
