/* Header Component */

@import 'breakpoints-scss';
@import 'variables';

.c-header {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: $space-base;
  padding: $space-base $space-base 0 $space-base;

  .c-headermenugroup {
    grid-column: 1 / 3;
  }

  .c-navtoggle {
    grid-column: 2;
    grid-row: 1;
  }

  .c-headernav {
    grid-column: 1 / 3;
    margin-inline: -$space-base;
  }
}

@include minwidth1 {

  .c-header {
    grid-template-columns: auto 1fr;
    gap: 0 $space-base;

    .c-logo-dmptool {
      grid-row: 1 / 3;
    }

    .c-headermenugroup {
      grid-column: 2;
      justify-self: end;
    }

    .c-navtoggle {
      display: none;
    }

    .c-headernav {
      grid-column: 2;
      margin-inline: 0;
      align-self: end;
    }
  }
}
