/* Heading Elements */

@import 'variables';

h1 {
  margin-block-start: 0;
  margin-block-end: $space-base;
  color: $color-dmp-blue;
  font-size: 1.9rem;
  font-weight: 400;
}

h2 {
  font-size: 1.5rem;
  font-weight: 500;
}
