/* Header Component */

@import 'breakpoints-scss';
@import 'variables';

.c-header {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: $space-base;

  .c-logo-dmptool {
    margin-block-start: $space-base;
    margin-inline-start: $space-base;
  }

  .c-navtoggle {
    margin-block-start: $space-base;
    margin-inline-end: $space-base;
  }

  .c-headernav {
    grid-column: 1 / 4;
  }

  .c-user-profile {
    grid-column: 1 / 4;
    margin-inline-start: $space-base;
  }

  .c-language {
    grid-column: 1 / 4;
    margin-inline-start: $space-base;
  }

  .c-links-org {
    grid-column: 1 / 4;
    margin-inline-start: $space-base;
  }

  .c-admin {
    grid-column: 1 / 4;
    margin-inline-start: $space-base;
  }
}

@include minwidth1 {

  .c-header {
    grid-template-columns: auto 1fr auto auto;
    grid-template-rows: 1fr auto auto;
    gap: $space-lg;

    .c-logo-dmptool {
      grid-column: 1;
      grid-row: 1 / span 2;
    }

    .c-navtoggle {
      display: none;
    }

    .c-headernav {
      grid-column: 2;
      grid-row: 1 / span 2;
      align-self: end;
    }

    /* The sign in link is displayed when not logged in and not on the homepage */
    .c-user-sign-in {
      grid-column: 3;
      grid-row: 1;
      margin-block-end: -$space-sm; // (1)
      align-self: end;
    }

    /* The profile menu is displayed when logged in */
    .c-user-profile {
      grid-column: 3;
      grid-row: 1;
      margin-block-end: -$space-sm; // (1)
      align-self: end;
    }

    .c-language {
      grid-column: 4;
      grid-row: 1;
      margin-block-end: -$space-sm; // (1)
      margin-inline-start: 0;
      margin-inline-end: $space-base;
      align-self: end;
    }

    /* Sub-header that displays organizational content when the user is logged in */
    .c-logo-org {
      grid-column: 1;
      grid-row: 3;
      margin-block-start: -$space-sm; // (1)
      align-self: center;
    }

    .c-links-org {
      grid-column: 2 / span 2;
      grid-row: 3;
    }

    /* Displayed if the user is an administrator */
    .c-admin {
      grid-column: 4;
      grid-row: 3;
    }
  }
}

// (1) subtract c-language bottom margin to compensate for c-language__button bottom padding so that button text aligns with c-headernav links
