/* Home Page */

@import 'breakpoints-scss';
@import 'variables';

.t-home {
  display: grid;
  gap: $space-base;
  height: 100vh;

  main {
    display: grid;
    gap: $space-base;
    padding-inline: $space-base;
  }
}

@include minwidth1 {

  .t-home {
    grid-template-rows: auto 1fr auto;
    max-width: 1500px;
    margin: 0 auto;

    main {
      grid-template-columns: 1fr min-content; // #1
    }

    // This component is a child of <main>:

    .c-home-stats {
      align-self: center;
    }
  }
}

// #1: 'min-content' keyword shrinks second column to fixed width of c-login so that c-blog content can wrap without expanding column
