/* Home Stats Component */

@import 'variables';
@import 'utilities';

.c-home-stats {

  ul {
    @include resetlist;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: $space-base;
  }
}

.c-home-stats__users,
.c-home-stats__participants,
.c-home-stats__plans {
  display: flex;
  flex-direction: column;
  gap: $space-sm;
  font-weight: bold;
  text-align: center;

  &::before {
    content: '';
    block-size: 4rem; // icon size
    background-color: $color-dmp-blue;
    mask: var(--icon-source) center / contain no-repeat;
  }
}

.c-home-stats__users {
  --icon-source: url('light.svg#users');
}

.c-home-stats__participants {
  --icon-source: url('light.svg#university');
}

.c-home-stats__plans {
  --icon-source: url('light.svg#edit');
}
