/* Organization Links */

@import 'utilities';
@import 'variables';

.c-links-org {
  @include resetlist;

  display: flex;
  flex-direction: column;
  gap: $space-sm;
}

.c-links-org__ucop,
.c-links-org__uc3-helpdesk {
  display: flex;
  align-items: center;
  gap: $space-sm;

  &::before {
    content: '';
    inline-size: 0.8rem;
    block-size: 0.8rem;
    background-color: $color-dmp-blue;
    mask: var(--icon-source) center / 0.8rem;
  }
}

.c-links-org__ucop {
  --icon-source: url('data-url:fa-solid/globe.svg');
}

.c-links-org__uc3-helpdesk {
  --icon-source: url('data-url:fa-solid/envelope.svg');
}
