/* Organization Logo */

@import 'variables';

.c-logo-org {

  img {
    display: block;
    inline-size: $logo-width;
    block-size: auto;
    background-color: $color-white;
  }

  // If <img> isn't present, then use text label:

  p {
    margin: 0;
    font-size: 1.1rem;
  }
}
