/* Organization Logo */

@import 'variables';

.c-logo-org {
  margin-inline-end: 2rem;

  img {
    display: block;
    inline-size: calc(#{$logo-width} - 1rem);
    block-size: auto;
    background-color: $color-white;
  }

  // If <img> isn't present, then use text label:

  p {
    margin: 0;
    font-size: 1.1rem;
  }
}
