/* Organization Logo */

@import 'breakpoints-scss';
@import 'variables';

.c-logo-org {

  img {
    width: 13rem;
    height: auto;
  }

  p {
    font-size: 1.1rem;
  }
}

@include minwidth1 {

  .c-logo-org {

    img {
      width: 26vw;
    }
  }
}

@include minwidth2 {

  .c-logo-org {

    img {
      width: 17rem;
    }
  }
}
