/* Navigation Toggle Component */

@import 'variables';

.c-navtoggle {
  width: 3rem;
  height: 2.5rem;
  background-color: $color-dmp-blue;
  mask: url('solid.svg#bars') center / 1.5rem no-repeat;
}
