/* Navigation Toggle Component */

@import 'variables';

.c-navtoggle {
  width: 3rem;
  height: 2.5rem;
  background-color: $color-dmp-blue;
  mask: url('data-url:fa-solid/bars.svg') center / 1.5rem no-repeat;
}
