/* System messages: noticiations/alerts/warnings/errors */

@import 'variables';
@import 'utilities';

.c-notification--info,
.c-notification--warning,
.c-notification--danger {
  display: flex;
  align-items: center;
  gap: $space-sm;
  padding: $space-sm;

  &::before {
    content: '';
    flex: none;
    inline-size: 1rem;
    block-size: 1rem;
    background: center / 1rem no-repeat;
  }

  p {
    margin: 0;
  }

  &[hidden] {
    display: none;
  }
}

.c-notification__close {
  flex: none;
  inline-size: 1rem;
  block-size: 1rem;
  margin-inline-start: auto;
  border-style: none;
  background: center / 1rem no-repeat;

  // hide 'close' button text except for screen readers:

  span {
    @include hide;
  }
}

// Info notification colors and icons:

.c-notification--info {
  background-color: $color-green;
  color: $color-white;

  &::before {
    background-image: url('solid.svg#check-circle' param(--color $color-white));
  }

  .c-notification__close {
    background-image: url('solid.svg#times' param(--color $color-white));
  }
}

// Warning notification colors and icons:

.c-notification--warning {
  background-color: $color-yellow-light;
  color: $color-yellow-dark;

  &::before {
    background-image: url('solid.svg#exclamation-circle' param(--color $color-yellow-dark));
  }

  .c-notification__close {
    background-image: url('solid.svg#times' param(--color $color-yellow-dark));
  }
}

// Danger notification colors and icons:

.c-notification--danger {
  background-color: $color-pink-light;
  color: $color-pink-dark;

  &::before {
    background-image: url('solid.svg#exclamation-circle' param(--color $color-pink-dark));
  }

  .c-notification__close {
    background-image: url('solid.svg#times' param(--color $color-pink-dark));
  }
}
