/* System messages: noticiations/alerts/warnings/errors */

@import 'variables';
@import 'utilities';

.c-notification--info,
.c-notification--warning,
.c-notification--danger {

  // Default colors and icon if not set individually below:

  --color-foreground: #{$color-black};
  --color-background: #{$color-white};
  --icon: '';

  display: flex;
  align-items: center;
  gap: $space-sm;
  padding: $space-sm;
  background-color: var(--color-background);
  color: var(--color-foreground);

  &::before {
    content: '';
    flex: none;
    inline-size: 1rem;
    block-size: 1rem;
    mask-size: 1rem;
    mask-position: center;
    mask-image: var(--icon);
    background-color: var(--color-foreground);
  }

  p {
    margin: 0;
  }

  &[hidden] {
    display: none;
  }
}

.c-notification__close {
  flex: none;
  inline-size: 1rem;
  block-size: 1rem;
  margin-inline-start: auto;
  border-style: none;
  background-color: var(--color-foreground);
  mask: url('data-url:fa-solid/times.svg') center / 1rem;

  // hide 'close' button text except for screen readers:

  span {
    @include hide;
  }
}

// Individual colors and icon:

.c-notification--info {
  --color-foreground: #{$color-white};
  --color-background: #{$color-green};
  --icon: url('data-url:fa-solid/check-circle.svg');
}

.c-notification--warning {
  --color-foreground: #{$color-yellow-dark};
  --color-background: #{$color-yellow-light};
  --icon: url('data-url:fa-solid/exclamation-circle.svg');
}

.c-notification--danger {
  --color-foreground: #{$color-pink-dark};
  --color-background: #{$color-pink-light};
  --icon: url('data-url:fa-solid/exclamation-circle.svg');
}
