/* Pagination Component */

@import 'utilities';
@import 'variables';

.c-pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 0.2rem;

  ul {
    @include resetlist;

    display: flex;
    flex-wrap: wrap;
    gap: 0.2rem;
  }

  a {
    display: block;
    padding-inline: 0.5rem;
    font-size: 1.1rem;
  }

  [aria-current='page'] {
    border: 1px solid $color-dmp-blue;
    color: $color-black;
  }
}

.c-pagination__overflow {
  align-self: flex-end;
}
