/* Social Component */

@import 'utilities';
@import 'variables';

.c-social {
  @include resetlist;

  display: flex;
  gap: $space-base;

  li {
    border: 1px solid $color-black;
    border-radius: 50%;
  }
}

.c-social__icon-rss,
.c-social__icon-twitter {
  display: block;
  width: 2.3rem;
  height: 2.3rem;
  background-color: $color-black;
  mask: var(--icon-source) center / var(--icon-size) no-repeat;
}

.c-social__icon-rss {
  --icon-source: url('data-url:fa-solid/rss.svg');
  --icon-size: 1rem;
}

.c-social__icon-twitter {
  --icon-source: url('data-url:fa-brands/twitter.svg');
  --icon-size: 1.3rem;
}

.c-social__sr-only {
  @include hide;
}
