/* Table Element (and associated controls for sort, search, pagination) */

@import 'variables';

table {
  border: none;

  thead th {
    background-color: $color-dmp-blue;
    color: $color-white;

    .fas, .fas:not(.small) {
      color: $color-white;
    }
  }

  tbody tr:nth-child(even){
    background-color: $color-gray-light;
  }

  .table-hover tbody tr:hover td,
  .table-hover tbody tr:hover th {
    background-color: $color-gray-medium;
  }
}

/* This would ideally be something like .c-searchbox but we must match the DMPRoadmap selector */
#search-addon .fa-search {
  color: $color-white;
}