

<section class="c-facet js-facet">
  <header>
    <h3>Subject (8)</h3>
    <button class="c-facet__toggle-list js-facet__toggle-list" aria-label="filters" aria-expanded="false"></button>
  </header>
  <ul class="c-facet__list js-facet__list" hidden>
    <li><input id="facet-item-7872" type="checkbox"><label for="facet-item-7872">Biological sciences <span class="c-facet__item-total js-facet__item-total">(739)</span></label></li>
    <li><input id="facet-item-2842" type="checkbox"><label for="facet-item-2842">Chemical engineering <span class="c-facet__item-total js-facet__item-total">(726)</span></label></li>
    <li><input id="facet-item-2669" type="checkbox"><label for="facet-item-2669">Clinical medicine <span class="c-facet__item-total js-facet__item-total">(361)</span></label></li>
    <li><input id="facet-item-5979" type="checkbox"><label for="facet-item-5979">Earth and related environmental sciences <span class="c-facet__item-total js-facet__item-total">(318)</span></label></li>
    <li><input id="facet-item-9024" type="checkbox"><label for="facet-item-9024">Engineering and Technology <span class="c-facet__item-total js-facet__item-total">(49)</span></label></li>
    <li><input id="facet-item-269" type="checkbox"><label for="facet-item-269">Health sciences <span class="c-facet__item-total js-facet__item-total">(826)</span></label></li>
    <li><input id="facet-item-3325" type="checkbox"><label for="facet-item-3325">Medical and Health Sciences <span class="c-facet__item-total js-facet__item-total">(67)</span></label></li>
    <li><input id="facet-item-6564" type="checkbox"><label for="facet-item-6564">Social Sciences <span class="c-facet__item-total js-facet__item-total">(536)</span></label></li>
  </ul>
</section>

