

<section class="c-facet js-facet">
  <header>
    <h3>Institution (8)</h3>
    <button type="button" class="c-facet__toggle-list js-facet__toggle-list" aria-label="filters" aria-expanded="false"></button>
  </header>
  <ul class="c-facet__list js-facet__list" hidden>
    <li><input id="facet-item-4280" type="checkbox" name="institution" value="Instituto Butantan (butantan.gov.br)"><label for="facet-item-4280">Instituto Butantan (butantan.gov.br) <span class="c-facet__item-total js-facet__item-total">(280)</span></label></li>
    <li><input id="facet-item-6260" type="checkbox" name="institution" value="Purdue University"><label for="facet-item-6260">Purdue University <span class="c-facet__item-total js-facet__item-total">(229)</span></label></li>
    <li><input id="facet-item-7862" type="checkbox" name="institution" value="São Paulo State University (UNESP)"><label for="facet-item-7862">São Paulo State University (UNESP) <span class="c-facet__item-total js-facet__item-total">(272)</span></label></li>
    <li><input id="facet-item-3919" type="checkbox" name="institution" value="Tula Foundation (tula.org)"><label for="facet-item-3919">Tula Foundation (tula.org) <span class="c-facet__item-total js-facet__item-total">(204)</span></label></li>
    <li><input id="facet-item-500" type="checkbox" name="institution" value="Universidade Federal de São Carlos (UFSCar)"><label for="facet-item-500">Universidade Federal de São Carlos (UFSCar) <span class="c-facet__item-total js-facet__item-total">(187)</span></label></li>
    <li>
      <details>
        <summary>Show more</summary>
        <ul>
          <li><input id="facet-item-6776" type="checkbox" name="institution" value="University of Delaware (UDel)"><label for="facet-item-6776">University of Delaware (UDel) <span class="c-facet__item-total js-facet__item-total">(990)</span></label></li>
          <li><input id="facet-item-6165" type="checkbox" name="institution" value="Washington University"><label for="facet-item-6165">Washington University <span class="c-facet__item-total js-facet__item-total">(758)</span></label></li>
          <li><input id="facet-item-8382" type="checkbox" name="institution" value="Worcester Polytechnic Institute (wpi.edu)"><label for="facet-item-8382">Worcester Polytechnic Institute (wpi.edu) <span class="c-facet__item-total js-facet__item-total">(2)</span></label></li>
        </ul>
      </details>
    </li>
  </ul>
</section>

