

<section class="c-facet js-facet">
  <header>
    <h3>Institution (8)</h3>
    <button class="c-facet__toggle-list js-facet__toggle-list" aria-label="filters" aria-expanded="false"></button>
  </header>
  <ul class="c-facet__list js-facet__list" hidden>
    <li><input id="facet-item-2574" type="checkbox"><label for="facet-item-2574">Instituto Butantan (butantan.gov.br) <span class="c-facet__item-total js-facet__item-total">(587)</span></label></li>
    <li><input id="facet-item-4426" type="checkbox"><label for="facet-item-4426">Purdue University <span class="c-facet__item-total js-facet__item-total">(10)</span></label></li>
    <li><input id="facet-item-6013" type="checkbox"><label for="facet-item-6013">São Paulo State University (UNESP) <span class="c-facet__item-total js-facet__item-total">(868)</span></label></li>
    <li><input id="facet-item-5308" type="checkbox"><label for="facet-item-5308">Tula Foundation (tula.org) <span class="c-facet__item-total js-facet__item-total">(643)</span></label></li>
    <li><input id="facet-item-1096" type="checkbox"><label for="facet-item-1096">Universidade Federal de São Carlos (UFSCar) <span class="c-facet__item-total js-facet__item-total">(694)</span></label></li>
    <li><input id="facet-item-273" type="checkbox"><label for="facet-item-273">University of Delaware (UDel) <span class="c-facet__item-total js-facet__item-total">(756)</span></label></li>
    <li><input id="facet-item-394" type="checkbox"><label for="facet-item-394">Washington University <span class="c-facet__item-total js-facet__item-total">(233)</span></label></li>
    <li><input id="facet-item-6013" type="checkbox"><label for="facet-item-6013">Worcester Polytechnic Institute (wpi.edu) <span class="c-facet__item-total js-facet__item-total">(674)</span></label></li>
  </ul>
</section>

