

<section class="c-facet js-facet">
  <header>
    <h3>Subject (8)</h3>
    <button class="c-facet__toggle-list js-facet__toggle-list" aria-label="filters" aria-expanded="false"></button>
  </header>
  <ul class="c-facet__list js-facet__list" hidden>
    <li><input id="facet-item-1776" type="checkbox"><label for="facet-item-1776">Biological sciences <span class="c-facet__item-total js-facet__item-total">(560)</span></label></li>
    <li><input id="facet-item-5215" type="checkbox"><label for="facet-item-5215">Chemical engineering <span class="c-facet__item-total js-facet__item-total">(358)</span></label></li>
    <li><input id="facet-item-6616" type="checkbox"><label for="facet-item-6616">Clinical medicine <span class="c-facet__item-total js-facet__item-total">(570)</span></label></li>
    <li><input id="facet-item-81" type="checkbox"><label for="facet-item-81">Earth and related environmental sciences <span class="c-facet__item-total js-facet__item-total">(64)</span></label></li>
    <li><input id="facet-item-9132" type="checkbox"><label for="facet-item-9132">Engineering and Technology <span class="c-facet__item-total js-facet__item-total">(956)</span></label></li>
    <li><input id="facet-item-2313" type="checkbox"><label for="facet-item-2313">Health sciences <span class="c-facet__item-total js-facet__item-total">(157)</span></label></li>
    <li><input id="facet-item-5061" type="checkbox"><label for="facet-item-5061">Medical and Health Sciences <span class="c-facet__item-total js-facet__item-total">(0)</span></label></li>
    <li><input id="facet-item-3056" type="checkbox"><label for="facet-item-3056">Social Sciences <span class="c-facet__item-total js-facet__item-total">(759)</span></label></li>
  </ul>
</section>

