

<section class="c-facet js-facet">
  <header>
    <h3>language (2)</h3>
    <button class="c-facet__toggle-list js-facet__toggle-list" aria-label="filters" aria-expanded="false"></button>
  </header>
  <ul class="c-facet__list js-facet__list" hidden>
    <li><input id="facet-item-5875" type="checkbox"><label for="facet-item-5875">English <span class="c-facet__item-total js-facet__item-total">(154)</span></label></li>
    <li><input id="facet-item-3354" type="checkbox"><label for="facet-item-3354">Português (Brasil) <span class="c-facet__item-total js-facet__item-total">(959)</span></label></li>
  </ul>
</section>

