

<section class="c-facet js-facet">
  <header>
    <h3>Funder (6)</h3>
    <button class="c-facet__toggle-list js-facet__toggle-list" aria-label="filters" aria-expanded="false"></button>
  </header>
  <ul class="c-facet__list js-facet__list" hidden>
    <li><input id="facet-item-9757" type="checkbox"><label for="facet-item-9757">Alfred P. Sloan <span class="c-facet__item-total js-facet__item-total">(623)</span></label></li>
    <li><input id="facet-item-809" type="checkbox"><label for="facet-item-809">National Aeronautics and Space Administration (NASA) <span class="c-facet__item-total js-facet__item-total">(401)</span></label></li>
    <li><input id="facet-item-3940" type="checkbox"><label for="facet-item-3940">National Institutes of Helath (NIH) <span class="c-facet__item-total js-facet__item-total">(340)</span></label></li>
    <li><input id="facet-item-7283" type="checkbox"><label for="facet-item-7283">National Science Foundation (NSF) <span class="c-facet__item-total js-facet__item-total">(211)</span></label></li>
    <li><input id="facet-item-8112" type="checkbox"><label for="facet-item-8112">FAPESP - São Paulo Research Foundation (fapesp.br) <span class="c-facet__item-total js-facet__item-total">(257)</span></label></li>
    <li><input id="facet-item-2410" type="checkbox"><label for="facet-item-2410">United States Geological Survey (USGS) <span class="c-facet__item-total js-facet__item-total">(346)</span></label></li>
  </ul>
</section>

