

<section class="c-facet js-facet">
  <header>
    <h3>Subject (8)</h3>
    <button type="button" class="c-facet__toggle-list js-facet__toggle-list" aria-label="filters" aria-expanded="false"></button>
  </header>
  <ul class="c-facet__list js-facet__list" hidden>
    <li><input id="facet-item-9556" type="checkbox" name="subject" value="Biological sciences"><label for="facet-item-9556">Biological sciences <span class="c-facet__item-total js-facet__item-total">(458)</span></label></li>
    <li><input id="facet-item-8980" type="checkbox" name="subject" value="Chemical engineering"><label for="facet-item-8980">Chemical engineering <span class="c-facet__item-total js-facet__item-total">(772)</span></label></li>
    <li><input id="facet-item-7140" type="checkbox" name="subject" value="Clinical medicine"><label for="facet-item-7140">Clinical medicine <span class="c-facet__item-total js-facet__item-total">(223)</span></label></li>
    <li><input id="facet-item-4584" type="checkbox" name="subject" value="Earth and related environmental sciences"><label for="facet-item-4584">Earth and related environmental sciences <span class="c-facet__item-total js-facet__item-total">(531)</span></label></li>
    <li><input id="facet-item-2967" type="checkbox" name="subject" value="Engineering and Technology"><label for="facet-item-2967">Engineering and Technology <span class="c-facet__item-total js-facet__item-total">(416)</span></label></li>
    <li>
      <details>
        <summary>Show more</summary>
        <ul>
          <li><input id="facet-item-2161" type="checkbox" name="subject" value="Health sciences"><label for="facet-item-2161">Health sciences <span class="c-facet__item-total js-facet__item-total">(2)</span></label></li>
          <li><input id="facet-item-7480" type="checkbox" name="subject" value="Medical and Health Sciences"><label for="facet-item-7480">Medical and Health Sciences <span class="c-facet__item-total js-facet__item-total">(536)</span></label></li>
          <li><input id="facet-item-7437" type="checkbox" name="subject" value="Social Sciences"><label for="facet-item-7437">Social Sciences <span class="c-facet__item-total js-facet__item-total">(286)</span></label></li>
        </ul>
      </details>
    </li>
  </ul>
</section>

