

<section class="c-facet js-facet">
  <header>
    <h3>Funder (6)</h3>
    <button class="c-facet__toggle-list js-facet__toggle-list" aria-label="filters" aria-expanded="false"></button>
  </header>
  <ul class="c-facet__list js-facet__list" hidden>
    <li><input id="facet-item-2136" type="checkbox"><label for="facet-item-2136">Alfred P. Sloan <span class="c-facet__item-total js-facet__item-total">(649)</span></label></li>
    <li><input id="facet-item-8082" type="checkbox"><label for="facet-item-8082">National Aeronautics and Space Administration (NASA) <span class="c-facet__item-total js-facet__item-total">(43)</span></label></li>
    <li><input id="facet-item-9228" type="checkbox"><label for="facet-item-9228">National Institutes of Helath (NIH) <span class="c-facet__item-total js-facet__item-total">(636)</span></label></li>
    <li><input id="facet-item-9526" type="checkbox"><label for="facet-item-9526">National Science Foundation (NSF) <span class="c-facet__item-total js-facet__item-total">(81)</span></label></li>
    <li><input id="facet-item-2640" type="checkbox"><label for="facet-item-2640">FAPESP - São Paulo Research Foundation (fapesp.br) <span class="c-facet__item-total js-facet__item-total">(937)</span></label></li>
    <li><input id="facet-item-2300" type="checkbox"><label for="facet-item-2300">United States Geological Survey (USGS) <span class="c-facet__item-total js-facet__item-total">(210)</span></label></li>
  </ul>
</section>

