

<section class="c-facet js-facet">
  <header>
    <h3>Institution (8)</h3>
    <button class="c-facet__toggle-list js-facet__toggle-list" aria-label="filters" aria-expanded="false"></button>
  </header>
  <ul class="c-facet__list js-facet__list" hidden>
    <li><input id="facet-item-8949" type="checkbox"><label for="facet-item-8949">Instituto Butantan (butantan.gov.br) <span class="c-facet__item-total js-facet__item-total">(682)</span></label></li>
    <li><input id="facet-item-6559" type="checkbox"><label for="facet-item-6559">Purdue University <span class="c-facet__item-total js-facet__item-total">(616)</span></label></li>
    <li><input id="facet-item-3376" type="checkbox"><label for="facet-item-3376">São Paulo State University (UNESP) <span class="c-facet__item-total js-facet__item-total">(618)</span></label></li>
    <li><input id="facet-item-9350" type="checkbox"><label for="facet-item-9350">Tula Foundation (tula.org) <span class="c-facet__item-total js-facet__item-total">(398)</span></label></li>
    <li><input id="facet-item-8440" type="checkbox"><label for="facet-item-8440">Universidade Federal de São Carlos (UFSCar) <span class="c-facet__item-total js-facet__item-total">(102)</span></label></li>
    <li><input id="facet-item-1795" type="checkbox"><label for="facet-item-1795">University of Delaware (UDel) <span class="c-facet__item-total js-facet__item-total">(154)</span></label></li>
    <li><input id="facet-item-2768" type="checkbox"><label for="facet-item-2768">Washington University <span class="c-facet__item-total js-facet__item-total">(25)</span></label></li>
    <li><input id="facet-item-3285" type="checkbox"><label for="facet-item-3285">Worcester Polytechnic Institute (wpi.edu) <span class="c-facet__item-total js-facet__item-total">(411)</span></label></li>
  </ul>
</section>

