

<section class="c-facet js-facet">
  <header>
    <h3>language (2)</h3>
    <button class="c-facet__toggle-list js-facet__toggle-list" aria-label="filters" aria-expanded="false"></button>
  </header>
  <ul class="c-facet__list js-facet__list" hidden>
    <li><input id="facet-item-3832" type="checkbox"><label for="facet-item-3832">English <span class="c-facet__item-total js-facet__item-total">(35)</span></label></li>
    <li><input id="facet-item-2658" type="checkbox"><label for="facet-item-2658">Português (Brasil) <span class="c-facet__item-total js-facet__item-total">(7)</span></label></li>
  </ul>
</section>

