

<a href="#maincontent" class="c-skipnav">Skip to main content</a>

<header class="c-header">
  <a class="c-logo-dmptool" href="/">
  <picture>
    <source srcset="../../ui-assets/logo-dmptool-large.svg" media="(min-width: 50rem)" width="272" height="73">
    <img src="../../ui-assets/logo-dmptool-small.svg" alt="DMPTool logo" width="208" height="37">
  </picture>
</a>

  <div class="c-headermenugroup">
        <a class="c-signin" href="path/to/home">Sign In</a>

    <!-- This menu uses accessibility techniques from: https://www.w3.org/TR/wai-aria-practices-1.1/examples/menu-button/menu-button-links.html -->

<div id="js-language" class="c-language c-headermenu">
  <button id="js-language__button" class="c-headermenu__button" aria-haspopup="true">Language</button>
  <ul id="js-language__menu" class="c-headermenu__menu" hidden>
    <li><a role="menuitem" href="https://dmptool.org/locale/en-US">English (US)</a></li>
    <li lang="pt"><a role="menuitem" href="https://dmptool.org/locale/pt-BR">Português (Brasil)</a></li>
  </ul>
</div>

  </div>
  <button id="js-navtoggle" class="c-navtoggle" aria-label="main navigation"></button>

  <nav aria-label="main" id="js-headernav" class="c-headernav">
    <ul>
      <li><a href="">Funder Requirements</a></li>
      <li><a href="">Public DMPs</a></li>
      <li><a href="">Help</a></li>
    </ul>
  </nav>
</header>
<main id="maincontent">
  <h1>Generic Page</h1>
    <p>Cumque beatae odio rerum aspernatur quas libero qui ea. Velit dignissimos voluptatem quisquam. Animi repudiandae architecto voluptas ea cum ipsum expedita itaque. Dolore facere in non excepturi eum odio sint inventore quidem. Eaque inventore nulla id. Veniam quidem molestiae. Corporis voluptatem rerum nobis laborum dolorem quibusdam pariatur. Esse ut qui consectetur odio possimus maiores minus rem. Soluta est qui quibusdam ratione itaque. Ullam exercitationem velit praesentium.</p>
    <p>Vitae ipsum dolor explicabo enim. Voluptatem totam explicabo consequatur placeat. Id esse cum pariatur enim. A vel debitis id impedit illum nobis. Ratione qui vitae ut impedit placeat cum. Tempore doloribus consectetur sit. Quam aspernatur dolore. A vel laborum. Qui natus dolore distinctio assumenda quisquam cumque autem nesciunt dolor. Sit dolor aut qui quisquam eligendi odio. Totam laudantium sit ut et tempore velit minima quaerat. Voluptas voluptatum aut magni corrupti ut.</p>
    <p>Qui et vel ut dolorem esse tempora exercitationem. Consequuntur excepturi veritatis. Error aliquid consequatur iusto odit quisquam doloremque quos nihil. Nisi necessitatibus dicta et vero. Blanditiis ullam animi ducimus est nihil dicta nostrum odio amet. Eligendi consequatur eum numquam officia consequatur deleniti non. Iure sed qui dignissimos sit voluptate. Ut optio quia quis. Ipsa consequatur veniam quis alias. Rerum nihil dolore eum delectus veritatis qui laudantium. Distinctio sed id aspernatur nisi molestiae voluptatem quo.</p>
    <p>Iusto ut omnis. Beatae velit animi in eum asperiores quibusdam optio. Expedita odit harum quisquam error autem aut. Sunt reiciendis vel omnis. Nam iure culpa dolore dolorem dicta vero et. Dolores impedit quae modi debitis. Nam omnis a fuga. Recusandae blanditiis rerum eveniet facilis. Facilis doloremque officiis. Facere accusamus ipsam ducimus aut temporibus dolore sed.</p>
    <p>A ut recusandae. Ut harum praesentium eveniet esse saepe porro dolores. Rerum id sit odio voluptatem similique distinctio. Non voluptas id illum quia. Qui distinctio distinctio officiis et. Id beatae laboriosam quas impedit tenetur rerum magnam. Omnis id et quos ex eius ut sequi totam saepe. Quaerat voluptatem minus numquam veritatis provident provident. Eum aliquid inventore ut reprehenderit voluptatem quia sit. Animi tempore vel rerum exercitationem quam nobis eos maiores. Dolor vel blanditiis eligendi animi nesciunt voluptas.</p>
</main>
<footer class="c-footer">
  <a class="c-logo-cdl" href="https://cdlib.org">
  <img src="../../ui-assets/logo-cdl.svg" alt="California Digital Library logo" width="104" height="39" loading="lazy">
</a>

  <nav aria-label="footer" class="c-footernav">
  <ul>
    <li><a href="">About</a></li>
    <li><a href="">Contact Us</a></li>
    <li><a href="">Terms of Use</a></li>
    <li><a href="">Privacy Statement</a></li>
    <li><a href="">GitHub</a></li>
    <li><a href="">Accessibility</a></li>
    <li><a href="">Site Map</a></li>
  </ul>
</nav>

  <div class="c-copyright">
  <p>DMPTool is a service of the <a href="https://cdlib.org">California Digital Library</a>, a division of the <a href="https://www.universityofcalifornia.edu">University of California Office of the President</a>. Version: v3.1.5</p>

  <p>&copy; 2021 The Regents of the University of California</p>
</div>

</footer>


