

<a href="#maincontent" class="c-skipnav">Skip to main content</a>

<header class="c-header">
  <a class="c-logo-dmptool" href="/">
  <picture>
    <source srcset="../../ui-assets/logo-dmptool-large.svg" media="(min-width: 50rem)">
    <img src="../../ui-assets/logo-dmptool-small.svg" alt="DMPTool logo" width="208" height="37">
  </picture>
</a>

  <button id="js-navtoggle" class="c-navtoggle" aria-label="main navigation"></button>

  <nav aria-label="main" id="js-headernav" class="c-headernav">
  <ul>
    <li><a href="">Home</a></li>
    <li><a href="">Funder Requirements</a></li>
    <li><a href="">Public DMPs</a></li>
    <li><a href="">Help</a></li>
  </ul>
</nav>

  <div id="js-language" class="c-language">
  <button id="js-language__button" class="c-language__button" aria-label="language menu">Language</button>
  <ul id="js-language__menu" class="c-language__menu" hidden>
    <li><a href="https://dmptool.org/locale/en-US">English (US)</a></li>
    <li lang="pt"><a href="https://dmptool.org/locale/pt-BR">Português (Brasil)</a></li>
  </ul>
</div>

</header>

<main id="maincontent">
  <h1>Generic Page</h1>
  <p>Quos sint nemo velit. Molestiae dolorem est tempore nisi et vel quis qui. Voluptas aperiam fugiat iure et tempora suscipit quia et accusamus. Vel ipsum quisquam quibusdam. Sunt et nulla voluptates id libero enim fugiat animi. Aliquid aperiam minus beatae. Voluptatem dolores molestiae reiciendis neque sunt nobis. Omnis eaque aperiam vel repellendus vel cum est provident. Necessitatibus quis autem laboriosam rerum et dolor eius. Reiciendis omnis dolor et autem est aut voluptates quo. Rerum perferendis provident velit sunt. Necessitatibus quae ab deserunt velit et et in quibusdam. Dolores voluptates non.</p>
  <p>Animi odit enim ex accusamus optio autem ad corporis. Ab dicta iste et odit voluptas eos tempore velit non. Aut placeat quasi labore quia enim quo qui. Quis consequatur at impedit molestias id accusamus ullam ut cum. Et libero est. Nihil neque nostrum saepe quos. Maxime sed sunt fuga aut adipisci officia. Architecto in incidunt aut vitae. Nisi ut fugiat tempore reprehenderit aut cum sit corporis. Commodi aperiam molestiae sed eligendi. Aut voluptatum ipsa sapiente autem sed quia ut dolor.</p>
  <p>Est sed praesentium. Nemo blanditiis ducimus ratione et rerum nihil. Qui occaecati repellat pariatur eaque corporis ipsum rerum quia beatae. Rem beatae amet. Illum dolore dolores quia sapiente. Occaecati mollitia architecto occaecati enim soluta magni quos quaerat. Hic in accusantium est sunt veniam. Sint sint occaecati excepturi rerum et nam quaerat tempore ducimus. Placeat soluta voluptatem inventore minima ad placeat aspernatur. In dignissimos ut. Vitae veritatis aut vitae eum cupiditate. Officiis laudantium quidem perspiciatis cupiditate dignissimos earum aut.</p>
  <p>Veritatis aut sed impedit dolorum inventore facere incidunt. Dolorem sunt consequuntur dolore consequatur velit dolorem perferendis eos. Voluptatem dicta aliquid sequi. Tempore praesentium esse sit. Sunt est dolore iure qui alias mollitia. Qui maiores unde voluptatibus saepe ab asperiores alias beatae. Vel doloribus iure ut qui nam. A aperiam soluta molestias enim. Dolor adipisci iure dicta dignissimos fugiat ad rem eos. Quo consectetur odit consequatur dolor sed rerum.</p>
  <p>Qui sint quia et exercitationem ad repellat deleniti. Unde consequatur quidem eveniet eius ut autem ut numquam. Aut aut laboriosam neque provident quia. Quos repellat harum aperiam fuga similique odio non rerum aut. Omnis temporibus a. Repellendus porro et ut ut dicta quia. Libero dolor illo et ratione ut voluptate. Esse itaque cupiditate. Odit qui velit in. Voluptatem animi molestias repellendus est natus. Eum numquam aut alias. Voluptatem perspiciatis ut ut ullam aut.</p>
</main>
<footer class="c-footer">
  <a class="c-logo-cdl" href="https://cdlib.org">
  <img src="../../ui-assets/logo-cdl.svg" alt="California Digital Library logo" width="104" height="39" loading="lazy">
</a>

  <nav aria-label="footer" class="c-footernav">
  <ul>
    <li><a href="">About</a></li>
    <li><a href="">Contact Us</a></li>
    <li><a href="">Terms of Use</a></li>
    <li><a href="">Privacy Statement</a></li>
    <li><a href="">GitHub</a></li>
    <li><a href="">Accessibility</a></li>
    <li><a href="">Site Map</a></li>
  </ul>
</nav>

  <div class="c-copyright">
  <p>DMPTool is a service of the <a href="https://cdlib.org">California Digital Library</a>, a division of the <a href="https://www.universityofcalifornia.edu">University of California Office of the President</a>. Version: v3.1.5</p>

  <p>&copy; 2021 The Regents of the University of California</p>
</div>

  <ul class="c-social">
  <li><a class="c-social__icon-twitter" href="https://twitter.com/TheDMPTool" target="_blank"><span class="c-social__sr-only">TheDMPTool on Twitter (opens new window)</span></a></li>
  <li><a class="c-social__icon-rss" href="https://blog.dmptool.org/feed/" target="_blank"><span class="c-social__sr-only">DMPTool RSS feed (opens new window)</span></a></li>
</ul>

  <article class="c-blog" role="marquee">
  <header>
    <h2>Latest News from DMPTool</h2>
  </header>
  <div class="c-blog__content">[blog content goes here] 
  </div>
  <footer>
    <a href="">View all news</a>
  </footer>
</article>

</footer>


