

<a href="#maincontent" class="c-skipnav">Skip to main content</a>

<header class="c-header">
  <a class="c-logo-dmptool" href="/">
  <picture>
    <source srcset="../../ui-assets/logo-dmptool-large.svg" media="(min-width: 50rem)" width="272" height="73">
    <img src="../../ui-assets/logo-dmptool-small.svg" alt="DMPTool logo" width="208" height="37">
  </picture>
</a>

  <div class="c-headermenugroup">
        <a class="c-signin" href="path/to/home">Sign In</a>

    <!-- This menu uses accessibility techniques from: https://www.w3.org/TR/wai-aria-practices-1.1/examples/menu-button/menu-button-links.html -->

<div id="js-language" class="c-language c-headermenu">
  <button id="js-language__button" class="c-headermenu__button" aria-haspopup="true">Language</button>
  <ul id="js-language__menu" class="c-headermenu__menu" hidden>
    <li><a role="menuitem" href="https://dmptool.org/locale/en-US">English (US)</a></li>
    <li lang="pt"><a role="menuitem" href="https://dmptool.org/locale/pt-BR">Português (Brasil)</a></li>
  </ul>
</div>

  </div>
  <button id="js-navtoggle" class="c-navtoggle" aria-label="main navigation"></button>

  <nav aria-label="main" id="js-headernav" class="c-headernav">
    <ul>
      <li><a href="">Funder Requirements</a></li>
      <li><a href="">Public DMPs</a></li>
      <li><a href="">Help</a></li>
    </ul>
  </nav>
</header>
<main id="maincontent">
  <h1>Generic Page</h1>
    <p>Earum dolor modi omnis ad reprehenderit fuga. Autem sed voluptatem delectus nihil incidunt neque eos. Aspernatur similique dolor libero quo ut qui sed ullam et. Iure cupiditate ad fuga autem eveniet voluptatibus. Sed rerum sunt sed excepturi accusamus porro modi nobis. Amet optio voluptatibus ut natus. Et sint et tenetur quia corporis. Et delectus repellendus ut quisquam dolores. Similique maiores facilis tempora ut est animi sint. Sed sit praesentium animi aliquam nihil.</p>
    <p>Corrupti praesentium aut voluptatem quo at assumenda fuga. Repellat omnis officiis recusandae voluptatem. Et error rem. Aut voluptas saepe deserunt molestias minus possimus natus. Eius quasi quis ab quam explicabo. Et necessitatibus maiores. Et occaecati laborum eum. Consequatur optio harum magnam qui soluta ipsum suscipit quibusdam consectetur. Deserunt quos rerum soluta iste odio rerum cupiditate voluptatum. Nisi impedit est qui earum facere quia facere eos.</p>
    <p>Rem nostrum animi quis voluptatem odit sint possimus. Autem aut qui libero. Corrupti molestiae delectus ut. A quaerat numquam vero impedit suscipit vitae exercitationem distinctio. Ut laboriosam dolore debitis. Aut impedit consectetur officiis et in rerum fugit amet ratione. Numquam perspiciatis aliquid fugit doloremque. Aut aspernatur dolor qui. Doloremque modi rerum nihil possimus est eos doloribus repellat quis. Qui ut et. Qui necessitatibus mollitia quia quia et. Non corporis ducimus saepe nostrum dignissimos sint. Vero quo eos rem porro.</p>
    <p>Ab voluptatum aperiam optio reiciendis maiores. Soluta qui quibusdam. Nam modi ut id iste quia in officia. Accusantium fugiat sint quia at perspiciatis in officia rerum eos. Repellat odio est est officia. Esse rerum incidunt nemo. Architecto numquam pariatur temporibus eos occaecati blanditiis. Illo similique commodi quis molestias. Dolores aliquam repellendus. Laudantium earum maiores. Sed quas et libero velit cupiditate pariatur. Ut quaerat aut architecto. Quibusdam dolor fugit odit quia corrupti culpa debitis excepturi.</p>
    <p>Dolores error molestiae. Sequi vel quaerat est. Repellendus nesciunt incidunt maiores. Quasi fugit animi harum in. Nam impedit ea dolores aut deleniti. Nobis ut voluptatem laudantium cupiditate magnam fuga officia quasi. Nemo occaecati consequatur rerum itaque laudantium dolorum. Dolorum suscipit earum quis. Soluta eveniet aperiam sapiente vel. Ratione expedita est earum magnam consectetur nesciunt odio. Quo magni quia. Quaerat ipsam qui ut sed.</p>
</main>
<footer class="c-footer">
  <a class="c-logo-cdl" href="https://cdlib.org">
  <img src="../../ui-assets/logo-cdl.svg" alt="California Digital Library logo" width="104" height="39" loading="lazy">
</a>

  <nav aria-label="footer" class="c-footernav">
  <ul>
    <li><a href="">About</a></li>
    <li><a href="">Contact Us</a></li>
    <li><a href="">Terms of Use</a></li>
    <li><a href="">Privacy Statement</a></li>
    <li><a href="">GitHub</a></li>
    <li><a href="">Accessibility</a></li>
    <li><a href="">Site Map</a></li>
  </ul>
</nav>

  <div class="c-copyright">
  <p>DMPTool is a service of the <a href="https://cdlib.org">California Digital Library</a>, a division of the <a href="https://www.universityofcalifornia.edu">University of California Office of the President</a>. Version: v3.1.5</p>

  <p>&copy; 2021 The Regents of the University of California</p>
</div>

</footer>


