

<section class="c-login">
  <header class="c-login__header">
    <h2>New Account Sign Up</h2>
  </header>
  <div id="c-textfield" class="c-textfield ">
    <label for="email_1">Email address</label>
    <input id="email_1" type="email" name="" value="Kamron_Larson18@example.net" placeholder="" list="" pattern="" minlength="" maxlength="" aria-describedby=""    >
  </div>
  <div id="c-textfield" class="c-textfield required">
    <label for="first_1">First name</label>
    <input id="first_1" type="text" name="" value="" placeholder="" list="" pattern="" minlength="" maxlength="" aria-describedby=""    required>
  </div>
  <div id="c-textfield" class="c-textfield required">
    <label for="last_1">Last name</label>
    <input id="last_1" type="text" name="" value="" placeholder="" list="" pattern="" minlength="" maxlength="" aria-describedby=""    required>
  </div>
  <div id="c-textfield" class="c-textfield required">
    <label for="inst_1">Institution</label>
    <input id="inst_1" type="text" name="" value="" placeholder="" list="" pattern="" minlength="" maxlength="" aria-describedby=""    required>
  </div>
  <div class="c-login__pseudo-note">
    <div id="c-checkbox" class="c-checkbox ">
      <input id="listed_1" type="checkbox" name="" value="" aria-describedby=""  >
      <label for="listed_1">My institution is not on the list</label>
    </div>
  </div>
  <div id="c-textfield" class="c-textfield required">
    <label for="pass_1">Password</label>
    <input id="pass_1" type="password" name="" value="" placeholder="" list="" pattern="" minlength="" maxlength="" aria-describedby=""    required>
  </div>
  <div class="c-login__pseudo-note">
    <div id="c-checkbox" class="c-checkbox ">
      <input id="show_1" type="checkbox" name="" value="" aria-describedby=""  >
      <label for="show_1">Show password</label>
    </div>
  </div>
  <div id="c-checkbox" class="c-checkbox required">
    <input id="show_1" type="checkbox" name="" value="" aria-describedby=""  required>
    <label for="show_1">I accept the terms and conditions</label>
  </div>
  <button type="button">Sign Up</button>
  <p>This will create a new account. If you already have an account, <a href="">go back</a> to try a different email address, or <a href="">contact us</a>.</p>
</section>

