

<section class="c-login">
  <header class="c-login__header">
    <h2>New Account Sign Up</h2>
  </header>
  <div id="c-textfield" class="c-textfield ">
    <label for="email_1">Email address</label>
    <input id="email_1" type="email" name="" value="Dayne_Monahan@example.org" placeholder="" list="" pattern="" minlength="" maxlength="" aria-describedby="false"    >
  </div>
  <p>Your address is associated with:</p>
  <p><strong>University of California, Office of the President (UCOP)</strong></p>
  <button type="button">Sign In with Institution to Continue</button>
  <p>This will create a new account. If you already have an account, <a href="">go back</a> to try a different email address, or <a href="">contact us</a>.</p>
</section>

