

<section class="c-login">
  <header class="c-login__header">
    <h2>Sign In</h2>
  </header>
  <div id="c-textfield" class="c-textfield ">
    <label for="email_1">Email address</label>
    <input id="email_1" type="email" name="" value="Ethyl_Morar@example.com" placeholder="" list="" pattern="" minlength="" maxlength="" aria-describedby="false"    >
  </div>
  <p>Your account is associated with:</p>
  <p><strong>University of California, Office of the President (UCOP)</strong></p>
  <button type="button">Sign In with Institution to Continue</button>
</section>

