

<!-- Start: @notification--info -->
<div id="js-notification-info" class="c-notification--info" role="alert" >
  Successfully saved your changes.
  <button id="js-notification-close" class="c-notification__close"><span>Close</span></button>
</div>
<!-- End: @notification--info -->

<!-- Start: @notification--danger -->
<div id="js-notification-danger" class="c-notification--danger" role="alert" >
  You are about to close your account.
  <button id="js-notification-close" class="c-notification__close"><span>Close</span></button>
</div>
<!-- End: @notification--danger -->

<!-- Start: @notification--warning -->
<div id="js-notification-warning" class="c-notification--warning" role="alert" >
  The system will be down for maintenance starting 12/31/2025.
  <button id="js-notification-close" class="c-notification__close"><span>Close</span></button>
</div>
<!-- End: @notification--warning -->

