

<header class="c-sub-header">
  <div class="c-logo-org">
  <!-- This section will display the organization name if no logo is loaded.
       For example: -->
  <p>University of California, Office of the President (UCOP)</p>

  <!-- Example logo for UC Merced: /media/W1siZiIsIjIwMTgvMDYvMDYvNXB1c2FkOTdqa19VQ00ucG5nIl0sWyJwIiwidGh1bWIiLCIxMDB4MTAwJSJdXQ/UCM.png?sha=9478f6947e6452f9 -->

</div>
  <div class="c-links-org">
  <ul>
    <li>
      <a target="_blank" href="http://www.ucop.edu/">
        <i class="fas fa-globe" aria-hidden="true">&nbsp;</i>
        UCOP website
      </a>
    </li>
    <li>
      <a href="mailto:uc3@ucop.edu">
        <i class="fas fa-envelope" aria-hidden="true">&nbsp;</i>
        UC3 Helpdesk
      </a>
    </li>
  </ul>
</div>
  <div id="js-admin" class="c-admin">
  <button id="js-admin__button" class="c-admin__button"
          aria-label="administrator menu">
    Admin
  </button>
  <ul id="js-admin__menu" class="c-admin__menu" hidden>
    <li><a href="/super_admin/api_clients">Api Clients</a></li>
    <li><a href="/org/admin/guidance/15/admin_index">Guidance</a></li>
    <li><a href="/super_admin/notifications">Notifications</a></li>
    <li><a href="/org/admin/15/admin_edit">Organization details</a></li>
    <li><a href="/org_admin/plans">Plans</a></li>
    <li><a href="/org_admin/templates">Templates</a></li>
    <li><a href="/super_admin/themes">Themes</a></li>
    <li><a href="/usage">Usage</a></li>
    <li><a href="/org/admin/users/admin_index">Users</a></li>
  </ul>
</div>
</header>

