

<table class="table table-hover">
  <thead>
    <tr>
        <th scope="col">Project Title</th>
        <th scope="col">Template</th>
        <th scope="col">Organization</th>
        <th scope="col">Owner</th>
        <th scope="col">DMP ID</th>
        <th scope="col">Download</th>
    </tr>
  </thead>
  <tbody>
    <tr class="table-data">
        <td>Repellat asperiores eius eos repellendus.</td>
        <td>Quos iste rerum enim quia consequuntur culpa unde aut perferendis.</td>
        <td>Aliquid quis ipsa ullam architecto ea.</td>
        <td>Id fuga eos.</td>
        <td>Dolores officia mollitia et beatae minus dolores velit.</td>
        <td>Tempore est est.</td>
    </tr>
    <tr class="table-data">
        <td>Inventore a porro est dolor.</td>
        <td>Ipsam architecto at et necessitatibus.</td>
        <td>Quia consequatur nihil magni consequatur magnam iste et.</td>
        <td>Quo consectetur vel quia ullam est odio et.</td>
        <td>Velit dolores nemo blanditiis mollitia vel et in accusantium.</td>
        <td>Quisquam ut nihil ut doloribus sint similique.</td>
    </tr>
    <tr class="table-data">
        <td>Cumque nostrum dolores est illum provident blanditiis.</td>
        <td>Eius id qui similique.</td>
        <td>Exercitationem assumenda nisi minima consequatur blanditiis reiciendis accusantium temporibus sequi.</td>
        <td>Adipisci magnam occaecati reiciendis et suscipit.</td>
        <td>Blanditiis a omnis in eius.</td>
        <td>Et autem ut fuga voluptatem in dignissimos.</td>
    </tr>
    <tr class="table-data">
        <td>Animi praesentium nam quidem enim earum.</td>
        <td>Et eum perferendis consequatur delectus porro quis id deserunt iusto.</td>
        <td>Ea consequatur quibusdam eum eos cupiditate nulla amet.</td>
        <td>Est delectus tempora aut ducimus.</td>
        <td>Voluptatem explicabo odio rem.</td>
        <td>Id et magnam explicabo officia odit ut architecto.</td>
    </tr>
    <tr class="table-data">
        <td>Eveniet quam quis sed quas deleniti deleniti error nostrum sed.</td>
        <td>Qui voluptatibus aut a sit eius.</td>
        <td>Quasi impedit minima tempore deserunt.</td>
        <td>Quia ut dignissimos ducimus expedita voluptatibus libero assumenda.</td>
        <td>Quasi dolorem omnis vero aut architecto eveniet corporis sit distinctio.</td>
        <td>Ut saepe voluptatem.</td>
    </tr>
    <tr class="table-data">
        <td>Veniam consectetur perferendis officiis quia.</td>
        <td>Libero quia aliquid molestiae cum.</td>
        <td>Delectus laboriosam et quod amet numquam laborum numquam aut dolor.</td>
        <td>Amet repellendus minima.</td>
        <td>Fugiat perspiciatis molestiae adipisci dolorem ut aspernatur.</td>
        <td>Nesciunt unde ex necessitatibus aliquam iure ab nihil quibusdam consequatur.</td>
    </tr>
    <tr class="table-data">
        <td>Laborum perspiciatis aut cupiditate ipsum.</td>
        <td>Sed ea et temporibus dolor et nostrum voluptates.</td>
        <td>Voluptatibus ea dolorem et qui similique quis necessitatibus repellat quia.</td>
        <td>Deserunt dolores dolores aliquam vero at.</td>
        <td>Hic similique consequatur.</td>
        <td>Recusandae occaecati minus ea consequuntur eaque dolorem debitis ea.</td>
    </tr>
    <tr class="table-data">
        <td>Provident aspernatur id sint possimus.</td>
        <td>Ut ab voluptatem praesentium.</td>
        <td>Quia tempora earum suscipit et libero.</td>
        <td>Sunt non at illum voluptas voluptas suscipit ea.</td>
        <td>Eos et perspiciatis sit excepturi consectetur ab expedita eius.</td>
        <td>Incidunt qui atque.</td>
    </tr>
  </tbody>
</table>

