

<div id="id-1" class="c-textfield js-textfield is-invalid">
  <label for="id-2">Text Field for a Name </label>
  <input
    id="id-2"
    type="text"
    name=""
    autocomplete="name"
    value=""
    list=""
    minlength=""
    maxlength=""
    aria-describedby="id-3 id-4"
    required
    aria-invalid="true">
    <div id="id-3" class="c-input__general-description">More info about this field.</div>
    <div id="id-4" class="c-input__invalid-description js-invalid-description" >This field is required.</div>
</div>

