<div id="js-admin" class="c-admin">
  <button id="js-admin__button" class="c-admin__button"
          aria-label="administrator menu">
    Admin
  </button>
  <ul id="js-admin__menu" class="c-admin__menu" hidden>
    <li><a href="/super_admin/api_clients">Api Clients</a></li>
    <li><a href="/org/admin/guidance/15/admin_index">Guidance</a></li>
    <li><a href="/super_admin/notifications">Notifications</a></li>
    <li><a href="/org/admin/15/admin_edit">Organization details</a></li>
    <li><a href="/org_admin/plans">Plans</a></li>
    <li><a href="/org_admin/templates">Templates</a></li>
    <li><a href="/super_admin/themes">Themes</a></li>
    <li><a href="/usage">Usage</a></li>
    <li><a href="/org/admin/users/admin_index">Users</a></li>
  </ul>
</div>