<article class="c-blog" role="marquee">
  <header>
    <h2>Latest News from DMPTool</h2>
  </header>
  <div class="c-blog__content">[blog content goes here] {{!-- Replace this text with the blog widget --}}
  </div>
  <footer>
    <a href="">View all news</a>
    {{ render '@social' }}
  </footer>
</article>
