<datalist id="{{ datalist.id }}">
  <option value="University of California, Berkeley"></option>
  <option value="Harvard University"></option>
  <option value="Stanford University"></option>
  <option value="California State University, East Bay"></option>
  <option value="Boston College"></option>
</datalist>
