<div class="c-login">
  
  {{!-- Sample image of login content below. Replace with actual login component upon integration: --}}

  <img src="{{ path '/ui-assets/images/login-sample.png' }}" width="300px" alt="login sample">
</div>
