<section class="c-login js-login">
  <header class="c-login__header">
    <h2>New Account Sign Up</h2>
    <p class="c-login__required-field js-login__required-field" hidden>required field</p>
  </header>
  <p role="alert" class="c-login__invalid-notification js-login__invalid-notification" hidden></p>
  <form method="post" action="https://www.hashemian.com/tools/form-post-tester.php/dmptool123" class="novalidate">
    {{> @datalist institution }}
    {{> @textfield email }}
    {{> @textfield firstname }}
    {{> @textfield lastname }}
    {{> @textfield institution }}
    <div class="c-login__pseudo-description">
      {{> @checkbox not_listed}}
    </div>
    {{> @textfield password }}
    <div class="c-login__pseudo-description">
      {{> @checkbox show_password}}
    </div>
    {{> @checkbox terms }}
    {{> @button }}
    <p>This will create a new account. If you already have an account, <a href="">go back</a> to try a different email address, or <a href="">contact us</a>.</p>
  </form>
  {{> @serial-nav }}
</section>
