<a class="c-logo-dmptool" href="/">
  <picture>
    <source srcset="{{ path '/ui-assets/images/logo-dmptool-large.svg' }}" media="(min-width: 50rem)">
    <img src="{{ path '/ui-assets/images/logo-dmptool-small.svg' }}" alt="DMPTool logo">
  </picture>
</a>
