{{!-- Pagination accessibility best practices in this component were adopted from https://designsystem.digital.gov/components/pagination/ and other sources. --}}

<nav class="c-pagination" aria-label="pagination">
  <a href="" aria-label="View all pages">View All</a>
  <ul>
    <li><a href="" aria-label="First Page">First</a></li>
    <li><a rel="prev" href="" aria-label="Previous Page">Previous</a></li>
    <li><a href="" aria-label="Page 1">1</a></li>
    <li><a href="" aria-label="Page 2">2</a></li>
    <li><a href="" aria-label="Page 3">3</a></li>
    <li><a href="" aria-label="Page 4">4</a></li>
    <li><a href="" aria-label="Page 5" aria-current="page">5</a></li>
    <li><a href="" aria-label="Page 6">6</a></li>
    <li><a href="" aria-label="Page 7">7</a></li>
    <li><a href="" aria-label="Page 8">8</a></li>
    <li><a href="" aria-label="Page 9">9</a></li>
    <li class="c-pagination__overflow">&hellip;</li>
    <li><a rel="next" href="" aria-label="Next Page">Next</a></li>
    <li><a href="" aria-label="Last Page">Last</a></li>
  </ul>
</nav>
