<section class="c-search">
  <h3 id="search-label">Search</h3>
  <div class="c-search-form" role="search">
    <input type="search" name="search" aria-labelledby="search-label" aria-describedby="js-search-results">
    <button type="submit" aria-label="search"></button>
  </div>
  <div class="js-search-results c-search-results">Showing results for "your search"</div>
  <button type="button" class="js-search-clear c-search-clear">Clear Search</button>
</section>
