<div id="js-user-profile" class="c-user-profile">
  <button id="js-user-profile__button" class="c-user-profile__button" aria-label="user profile menu" tabindex="1">Jane Doe</button>
  <ul id="js-user-profile__menu" class="c-user-profile__menu" hidden>
    <li><a href="https://dmptool.org/users/edit">Edit profile</a></li>
    <li><a href="https://dmptool.org/users/third_party_apps">3rd party applications</a></li>
    <li><a href="https://dmptool.org/users/developer_tools">Developer tools</a></li>
    <li><a href="https://dmptool.org/users/sign_out">Sign out</a></li>
  </ul>
</div>
