<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DMPTool Build Tool Tests</title>
    <link href="{{ path '/ui-assets/images/favicon.ico' }}" rel="shortcut icon">
    <link rel="stylesheet" href="{{ path '/ui-assets/main.css' }}">
  </head>
  <body class="t-tests">
    {{{ yield }}}
    <script src="{{ path '/ui-assets/main.js' }}"></script>
  </body>
</html>
