

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DMPTool Build Tool Tests</title>
    <link href="../../ui-assets/favicon.ico" rel="shortcut icon">
    <link rel="stylesheet" href="../../ui-assets/main.css">
  </head>
  <body class="t-tests">
    <article class="c-blog" role="marquee">
  <header>
    <h2>Latest News from DMPTool</h2>
  </header>
  <div class="c-blog__content">[blog content goes here] 
  </div>
  <footer>
    <a href="">View all news</a>
  </footer>
</article>

    <script src="../../ui-assets/main.js"></script>
  </body>
</html>

