

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DMPTool UI</title>
    <link rel="stylesheet" href="../../ui-assets/main.css">
  </head>
  <body class="t-default">
    
<div class="c-calltoaction">
  <h1>Generate an optimal data management plan</h1>
  <p class="c-calltoaction__summary">Create, review, share and publish DMPs that meet institutional and funder requirements.</p>
</div>

    <script src="../../ui-assets/main.js"></script>
  </body>
</html>

