

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DMPTool UI</title>
    <link rel="stylesheet" href="../../ui-assets/main.css">
  </head>
  <body class="t-default">
    <div id="js-calltoaction" class="c-calltoaction">
  <div class="c-calltoaction__content">
    <h1>Create Data Management Plans that meet requirements and promote your research</h1>
  </div>
</div>


    <script src="../../ui-assets/main.js"></script>
  </body>
</html>

