

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DMPTool Build Tool Tests</title>
    <link href="../../ui-assets/images/favicon.ico" rel="shortcut icon">
    <link rel="stylesheet" href="../../ui-assets/main.css">
  </head>
  <body class="t-tests">
    <h1 id="js-calltoaction" class="c-calltoaction">Create Data Management Plans that meet requirements and promote your research</h1>

    <script src="../../ui-assets/main.js"></script>
  </body>
</html>

