

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DMPTool Build Tool Tests</title>
    <link href="../../ui-assets/favicon.ico" rel="shortcut icon">
    <link rel="stylesheet" href="../../ui-assets/main.css">
  </head>
  <body class="t-tests">
    <div id="id-1" class="c-checkbox js-checkbox is-required is-invalid">
  <input id="id-2" type="checkbox" name="" value="" aria-describedby="id-3 id-4"   required>
  <label for="id-2">Checkbox Label</label>
    <div id="id-3" class="c-checkbox__general-description">Here is a note for this checkbox.</div>
    <div id="id-4" class="c-checkbox__invalid-description">This checkbox is required.</div>
</div>

    <script>
      if (document.querySelector('.c-header')) {
        document.querySelector('#js-headernav').hidden = true
      }
    </script>
    <script src="../../ui-assets/main.js"></script>
  </body>
</html>

