

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DMPTool Build Tool Tests</title>
    <link href="../../ui-assets/favicon.ico" rel="shortcut icon">
    <link rel="stylesheet" href="../../ui-assets/dmproadmap.css">
    <link rel="stylesheet" href="../../ui-assets/main.css">
  </head>
  <body class="t-tests">
    <!-- Start: @facet--funder -->
<section class="c-facet js-facet">
  <header>
    <h3>Funder (6)</h3>
    <button class="c-facet__toggle-list js-facet__toggle-list" aria-label="filters" aria-expanded="false"></button>
  </header>
  <ul class="c-facet__list js-facet__list" hidden>
    <li><input id="facet-item-7160" type="checkbox"><label for="facet-item-7160">Alfred P. Sloan <span class="c-facet__item-total js-facet__item-total">(423)</span></label></li>
    <li><input id="facet-item-1268" type="checkbox"><label for="facet-item-1268">National Aeronautics and Space Administration (NASA) <span class="c-facet__item-total js-facet__item-total">(217)</span></label></li>
    <li><input id="facet-item-7587" type="checkbox"><label for="facet-item-7587">National Institutes of Helath (NIH) <span class="c-facet__item-total js-facet__item-total">(880)</span></label></li>
    <li><input id="facet-item-8797" type="checkbox"><label for="facet-item-8797">National Science Foundation (NSF) <span class="c-facet__item-total js-facet__item-total">(290)</span></label></li>
    <li><input id="facet-item-8612" type="checkbox"><label for="facet-item-8612">FAPESP - São Paulo Research Foundation (fapesp.br) <span class="c-facet__item-total js-facet__item-total">(859)</span></label></li>
    <li><input id="facet-item-5514" type="checkbox"><label for="facet-item-5514">United States Geological Survey (USGS) <span class="c-facet__item-total js-facet__item-total">(338)</span></label></li>
  </ul>
</section>
<!-- End: @facet--funder -->

<!-- Start: @facet--institution -->
<section class="c-facet js-facet">
  <header>
    <h3>Institution (8)</h3>
    <button class="c-facet__toggle-list js-facet__toggle-list" aria-label="filters" aria-expanded="false"></button>
  </header>
  <ul class="c-facet__list js-facet__list" hidden>
    <li><input id="facet-item-1230" type="checkbox"><label for="facet-item-1230">Instituto Butantan (butantan.gov.br) <span class="c-facet__item-total js-facet__item-total">(69)</span></label></li>
    <li><input id="facet-item-8429" type="checkbox"><label for="facet-item-8429">Purdue University <span class="c-facet__item-total js-facet__item-total">(57)</span></label></li>
    <li><input id="facet-item-6549" type="checkbox"><label for="facet-item-6549">São Paulo State University (UNESP) <span class="c-facet__item-total js-facet__item-total">(904)</span></label></li>
    <li><input id="facet-item-3068" type="checkbox"><label for="facet-item-3068">Tula Foundation (tula.org) <span class="c-facet__item-total js-facet__item-total">(896)</span></label></li>
    <li><input id="facet-item-1134" type="checkbox"><label for="facet-item-1134">Universidade Federal de São Carlos (UFSCar) <span class="c-facet__item-total js-facet__item-total">(51)</span></label></li>
    <li><input id="facet-item-5297" type="checkbox"><label for="facet-item-5297">University of Delaware (UDel) <span class="c-facet__item-total js-facet__item-total">(106)</span></label></li>
    <li><input id="facet-item-9423" type="checkbox"><label for="facet-item-9423">Washington University <span class="c-facet__item-total js-facet__item-total">(781)</span></label></li>
    <li><input id="facet-item-9146" type="checkbox"><label for="facet-item-9146">Worcester Polytechnic Institute (wpi.edu) <span class="c-facet__item-total js-facet__item-total">(611)</span></label></li>
  </ul>
</section>
<!-- End: @facet--institution -->

<!-- Start: @facet--language -->
<section class="c-facet js-facet">
  <header>
    <h3>language (2)</h3>
    <button class="c-facet__toggle-list js-facet__toggle-list" aria-label="filters" aria-expanded="false"></button>
  </header>
  <ul class="c-facet__list js-facet__list" hidden>
    <li><input id="facet-item-6915" type="checkbox"><label for="facet-item-6915">English <span class="c-facet__item-total js-facet__item-total">(377)</span></label></li>
    <li><input id="facet-item-2388" type="checkbox"><label for="facet-item-2388">Português (Brasil) <span class="c-facet__item-total js-facet__item-total">(921)</span></label></li>
  </ul>
</section>
<!-- End: @facet--language -->

<!-- Start: @facet--subject -->
<section class="c-facet js-facet">
  <header>
    <h3>Subject (8)</h3>
    <button class="c-facet__toggle-list js-facet__toggle-list" aria-label="filters" aria-expanded="false"></button>
  </header>
  <ul class="c-facet__list js-facet__list" hidden>
    <li><input id="facet-item-7575" type="checkbox"><label for="facet-item-7575">Biological sciences <span class="c-facet__item-total js-facet__item-total">(136)</span></label></li>
    <li><input id="facet-item-6700" type="checkbox"><label for="facet-item-6700">Chemical engineering <span class="c-facet__item-total js-facet__item-total">(41)</span></label></li>
    <li><input id="facet-item-2848" type="checkbox"><label for="facet-item-2848">Clinical medicine <span class="c-facet__item-total js-facet__item-total">(682)</span></label></li>
    <li><input id="facet-item-5856" type="checkbox"><label for="facet-item-5856">Earth and related environmental sciences <span class="c-facet__item-total js-facet__item-total">(774)</span></label></li>
    <li><input id="facet-item-2473" type="checkbox"><label for="facet-item-2473">Engineering and Technology <span class="c-facet__item-total js-facet__item-total">(543)</span></label></li>
    <li><input id="facet-item-535" type="checkbox"><label for="facet-item-535">Health sciences <span class="c-facet__item-total js-facet__item-total">(799)</span></label></li>
    <li><input id="facet-item-6840" type="checkbox"><label for="facet-item-6840">Medical and Health Sciences <span class="c-facet__item-total js-facet__item-total">(299)</span></label></li>
    <li><input id="facet-item-8506" type="checkbox"><label for="facet-item-8506">Social Sciences <span class="c-facet__item-total js-facet__item-total">(170)</span></label></li>
  </ul>
</section>
<!-- End: @facet--subject -->

    <script>
      if (document.querySelector('.c-header')) {
        document.querySelector('#js-headernav').hidden = true
      }
    </script>
    <script src="../../ui-assets/main.js"></script>
  </body>
</html>

