

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DMPTool Build Tool Tests</title>
    <link href="../../ui-assets/favicon.ico" rel="shortcut icon">
    <link rel="stylesheet" href="../../ui-assets/dmproadmap.css">
    <link rel="stylesheet" href="../../ui-assets/main.css">
  </head>
  <body class="t-tests">
    <section class="c-facet js-facet">
  <header>
    <h3>Institution (8)</h3>
    <button class="c-facet__toggle-list js-facet__toggle-list" aria-label="filters" aria-expanded="false"></button>
  </header>
  <ul class="c-facet__list js-facet__list" hidden>
    <li><input id="facet-item-8517" type="checkbox"><label for="facet-item-8517">Instituto Butantan (butantan.gov.br) <span class="c-facet__item-total js-facet__item-total">(655)</span></label></li>
    <li><input id="facet-item-7769" type="checkbox"><label for="facet-item-7769">Purdue University <span class="c-facet__item-total js-facet__item-total">(331)</span></label></li>
    <li><input id="facet-item-7685" type="checkbox"><label for="facet-item-7685">São Paulo State University (UNESP) <span class="c-facet__item-total js-facet__item-total">(137)</span></label></li>
    <li><input id="facet-item-4305" type="checkbox"><label for="facet-item-4305">Tula Foundation (tula.org) <span class="c-facet__item-total js-facet__item-total">(227)</span></label></li>
    <li><input id="facet-item-8231" type="checkbox"><label for="facet-item-8231">Universidade Federal de São Carlos (UFSCar) <span class="c-facet__item-total js-facet__item-total">(429)</span></label></li>
    <li><input id="facet-item-7338" type="checkbox"><label for="facet-item-7338">University of Delaware (UDel) <span class="c-facet__item-total js-facet__item-total">(474)</span></label></li>
    <li><input id="facet-item-5879" type="checkbox"><label for="facet-item-5879">Washington University <span class="c-facet__item-total js-facet__item-total">(327)</span></label></li>
    <li><input id="facet-item-8219" type="checkbox"><label for="facet-item-8219">Worcester Polytechnic Institute (wpi.edu) <span class="c-facet__item-total js-facet__item-total">(38)</span></label></li>
  </ul>
</section>

    <script>
      if (document.querySelector('.c-header')) {
        document.querySelector('#js-headernav').hidden = true
      }
    </script>
    <script src="../../ui-assets/main.js"></script>
  </body>
</html>

