

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DMPTool Build Tool Tests</title>
    <link href="../../ui-assets/favicon.ico" rel="shortcut icon">
    <link rel="stylesheet" href="../../ui-assets/dmproadmap.css">
    <link rel="stylesheet" href="../../ui-assets/main.css">
  </head>
  <body class="t-tests">
    <section class="c-facet js-facet">
  <header>
    <h3>Funder (6)</h3>
    <button class="c-facet__toggle-list js-facet__toggle-list" aria-label="filters" aria-expanded="false"></button>
  </header>
  <ul class="c-facet__list js-facet__list" hidden>
    <li><input id="facet-item-3337" type="checkbox"><label for="facet-item-3337">Alfred P. Sloan <span class="c-facet__item-total js-facet__item-total">(337)</span></label></li>
    <li><input id="facet-item-5641" type="checkbox"><label for="facet-item-5641">National Aeronautics and Space Administration (NASA) <span class="c-facet__item-total js-facet__item-total">(627)</span></label></li>
    <li><input id="facet-item-3737" type="checkbox"><label for="facet-item-3737">National Institutes of Helath (NIH) <span class="c-facet__item-total js-facet__item-total">(29)</span></label></li>
    <li><input id="facet-item-1353" type="checkbox"><label for="facet-item-1353">National Science Foundation (NSF) <span class="c-facet__item-total js-facet__item-total">(811)</span></label></li>
    <li><input id="facet-item-4524" type="checkbox"><label for="facet-item-4524">FAPESP - São Paulo Research Foundation (fapesp.br) <span class="c-facet__item-total js-facet__item-total">(168)</span></label></li>
    <li><input id="facet-item-2230" type="checkbox"><label for="facet-item-2230">United States Geological Survey (USGS) <span class="c-facet__item-total js-facet__item-total">(728)</span></label></li>
  </ul>
</section>

    <script>
      if (document.querySelector('.c-header')) {
        document.querySelector('#js-headernav').hidden = true
      }
    </script>
    <script src="../../ui-assets/main.js"></script>
  </body>
</html>

