

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DMPTool Build Tool Tests</title>
    <link href="../../ui-assets/favicon.ico" rel="shortcut icon">
    <link rel="stylesheet" href="../../ui-assets/dmproadmap.css">
    <link rel="stylesheet" href="../../ui-assets/main.css">
  </head>
  <body class="t-tests">
    <section class="c-facet js-facet">
  <header>
    <h3>Institution (8)</h3>
    <button type="button" class="c-facet__toggle-list js-facet__toggle-list" aria-label="filters" aria-expanded="false"></button>
  </header>
  <ul class="c-facet__list js-facet__list" hidden>
    <li><input id="facet-item-3511" type="checkbox" name="institution" value="Instituto Butantan (butantan.gov.br)"><label for="facet-item-3511">Instituto Butantan (butantan.gov.br) <span class="c-facet__item-total js-facet__item-total">(336)</span></label></li>
    <li><input id="facet-item-7487" type="checkbox" name="institution" value="Purdue University"><label for="facet-item-7487">Purdue University <span class="c-facet__item-total js-facet__item-total">(251)</span></label></li>
    <li><input id="facet-item-2425" type="checkbox" name="institution" value="São Paulo State University (UNESP)"><label for="facet-item-2425">São Paulo State University (UNESP) <span class="c-facet__item-total js-facet__item-total">(43)</span></label></li>
    <li><input id="facet-item-2293" type="checkbox" name="institution" value="Tula Foundation (tula.org)"><label for="facet-item-2293">Tula Foundation (tula.org) <span class="c-facet__item-total js-facet__item-total">(192)</span></label></li>
    <li><input id="facet-item-261" type="checkbox" name="institution" value="Universidade Federal de São Carlos (UFSCar)"><label for="facet-item-261">Universidade Federal de São Carlos (UFSCar) <span class="c-facet__item-total js-facet__item-total">(737)</span></label></li>
    <li>
      <details class="c-more">
        <summary>Show more</summary>
        <ul>
          <li><input id="facet-item-6737" type="checkbox" name="institution" value="University of Delaware (UDel)"><label for="facet-item-6737">University of Delaware (UDel) <span class="c-facet__item-total js-facet__item-total">(421)</span></label></li>
          <li><input id="facet-item-4506" type="checkbox" name="institution" value="Washington University"><label for="facet-item-4506">Washington University <span class="c-facet__item-total js-facet__item-total">(955)</span></label></li>
          <li><input id="facet-item-7266" type="checkbox" name="institution" value="Worcester Polytechnic Institute (wpi.edu)"><label for="facet-item-7266">Worcester Polytechnic Institute (wpi.edu) <span class="c-facet__item-total js-facet__item-total">(478)</span></label></li>
        </ul>
      </details>
    </li>
  </ul>
</section>

    <script>
      if (document.querySelector('.c-header')) {
        document.querySelector('#js-headernav').hidden = true
      }
    </script>
    <script src="../../ui-assets/main.js"></script>
  </body>
</html>

