

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DMPTool Build Tool Tests</title>
    <link href="../../ui-assets/favicon.ico" rel="shortcut icon">
    <link rel="stylesheet" href="../../ui-assets/dmproadmap.css">
    <link rel="stylesheet" href="../../ui-assets/main.css">
  </head>
  <body class="t-tests">
    <section class="c-facet js-facet">
  <header>
    <h3>Institution (8)</h3>
    <button class="c-facet__toggle-list js-facet__toggle-list" aria-label="filters" aria-expanded="false"></button>
  </header>
  <ul class="c-facet__list js-facet__list" hidden>
    <li><input id="facet-item-4960" type="checkbox"><label for="facet-item-4960">Instituto Butantan (butantan.gov.br) <span class="c-facet__item-total js-facet__item-total">(834)</span></label></li>
    <li><input id="facet-item-980" type="checkbox"><label for="facet-item-980">Purdue University <span class="c-facet__item-total js-facet__item-total">(976)</span></label></li>
    <li><input id="facet-item-8660" type="checkbox"><label for="facet-item-8660">São Paulo State University (UNESP) <span class="c-facet__item-total js-facet__item-total">(243)</span></label></li>
    <li><input id="facet-item-4581" type="checkbox"><label for="facet-item-4581">Tula Foundation (tula.org) <span class="c-facet__item-total js-facet__item-total">(151)</span></label></li>
    <li><input id="facet-item-1991" type="checkbox"><label for="facet-item-1991">Universidade Federal de São Carlos (UFSCar) <span class="c-facet__item-total js-facet__item-total">(932)</span></label></li>
    <li><input id="facet-item-593" type="checkbox"><label for="facet-item-593">University of Delaware (UDel) <span class="c-facet__item-total js-facet__item-total">(128)</span></label></li>
    <li><input id="facet-item-6343" type="checkbox"><label for="facet-item-6343">Washington University <span class="c-facet__item-total js-facet__item-total">(165)</span></label></li>
    <li><input id="facet-item-1547" type="checkbox"><label for="facet-item-1547">Worcester Polytechnic Institute (wpi.edu) <span class="c-facet__item-total js-facet__item-total">(262)</span></label></li>
  </ul>
</section>

    <script>
      if (document.querySelector('.c-header')) {
        document.querySelector('#js-headernav').hidden = true
      }
    </script>
    <script src="../../ui-assets/main.js"></script>
  </body>
</html>

