

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DMPTool Build Tool Tests</title>
    <link href="../../ui-assets/favicon.ico" rel="shortcut icon">
    <link rel="stylesheet" href="../../ui-assets/dmproadmap.css">
    <link rel="stylesheet" href="../../ui-assets/main.css">
  </head>
  <body class="t-tests">
    <section class="c-facet js-facet">
  <header>
    <h3>Subject (8)</h3>
    <button type="button" class="c-facet__toggle-list js-facet__toggle-list" aria-label="filters" aria-expanded="false"></button>
  </header>
  <ul class="c-facet__list js-facet__list" hidden>
    <li><input id="facet-item-703" type="checkbox" name="subject" value="Biological sciences"><label for="facet-item-703">Biological sciences <span class="c-facet__item-total js-facet__item-total">(958)</span></label></li>
    <li><input id="facet-item-5051" type="checkbox" name="subject" value="Chemical engineering"><label for="facet-item-5051">Chemical engineering <span class="c-facet__item-total js-facet__item-total">(730)</span></label></li>
    <li><input id="facet-item-2046" type="checkbox" name="subject" value="Clinical medicine"><label for="facet-item-2046">Clinical medicine <span class="c-facet__item-total js-facet__item-total">(28)</span></label></li>
    <li><input id="facet-item-8388" type="checkbox" name="subject" value="Earth and related environmental sciences"><label for="facet-item-8388">Earth and related environmental sciences <span class="c-facet__item-total js-facet__item-total">(653)</span></label></li>
    <li><input id="facet-item-416" type="checkbox" name="subject" value="Engineering and Technology"><label for="facet-item-416">Engineering and Technology <span class="c-facet__item-total js-facet__item-total">(212)</span></label></li>
    <li>
      <details class="c-more">
        <summary>Show more</summary>
        <ul>
          <li><input id="facet-item-170" type="checkbox" name="subject" value="Health sciences"><label for="facet-item-170">Health sciences <span class="c-facet__item-total js-facet__item-total">(128)</span></label></li>
          <li><input id="facet-item-6953" type="checkbox" name="subject" value="Medical and Health Sciences"><label for="facet-item-6953">Medical and Health Sciences <span class="c-facet__item-total js-facet__item-total">(769)</span></label></li>
          <li><input id="facet-item-7685" type="checkbox" name="subject" value="Social Sciences"><label for="facet-item-7685">Social Sciences <span class="c-facet__item-total js-facet__item-total">(272)</span></label></li>
        </ul>
      </details>
    </li>
  </ul>
</section>

    <script>
      if (document.querySelector('.c-header')) {
        document.querySelector('#js-headernav').hidden = true
      }
    </script>
    <script src="../../ui-assets/main.js"></script>
  </body>
</html>

