

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DMPTool Build Tool Tests</title>
    <link href="../../ui-assets/favicon.ico" rel="shortcut icon">
    <link rel="stylesheet" href="../../ui-assets/dmproadmap.css">
    <link rel="stylesheet" href="../../ui-assets/main.css">
  </head>
  <body class="t-tests">
    <section class="c-facet js-facet">
  <header>
    <h3>Funder (6)</h3>
    <button type="button" class="c-facet__toggle-list js-facet__toggle-list" aria-label="filters" aria-expanded="false"></button>
  </header>
  <ul class="c-facet__list js-facet__list" hidden>
    <li><input id="facet-item-748" type="checkbox" name="funder" value="Alfred P. Sloan"><label for="facet-item-748">Alfred P. Sloan <span class="c-facet__item-total js-facet__item-total">(404)</span></label></li>
    <li><input id="facet-item-4477" type="checkbox" name="funder" value="National Aeronautics and Space Administration (NASA)"><label for="facet-item-4477">National Aeronautics and Space Administration (NASA) <span class="c-facet__item-total js-facet__item-total">(301)</span></label></li>
    <li><input id="facet-item-9973" type="checkbox" name="funder" value="National Institutes of Helath (NIH)"><label for="facet-item-9973">National Institutes of Helath (NIH) <span class="c-facet__item-total js-facet__item-total">(187)</span></label></li>
    <li><input id="facet-item-7684" type="checkbox" name="funder" value="National Science Foundation (NSF)"><label for="facet-item-7684">National Science Foundation (NSF) <span class="c-facet__item-total js-facet__item-total">(731)</span></label></li>
    <li><input id="facet-item-1169" type="checkbox" name="funder" value="FAPESP - São Paulo Research Foundation (fapesp.br)"><label for="facet-item-1169">FAPESP - São Paulo Research Foundation (fapesp.br) <span class="c-facet__item-total js-facet__item-total">(671)</span></label></li>
    <li>
      <details>
        <summary>Show more</summary>
        <ul>
          <li><input id="facet-item-7276" type="checkbox" name="funder" value="United States Geological Survey (USGS)"><label for="facet-item-7276">United States Geological Survey (USGS) <span class="c-facet__item-total js-facet__item-total">(712)</span></label></li>
        </ul>
      </details>
    </li>
  </ul>
</section>

    <script>
      if (document.querySelector('.c-header')) {
        document.querySelector('#js-headernav').hidden = true
      }
    </script>
    <script src="../../ui-assets/main.js"></script>
  </body>
</html>

