

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DMPTool Build Tool Tests</title>
    <link href="../../ui-assets/favicon.ico" rel="shortcut icon">
    <link rel="stylesheet" href="../../ui-assets/dmproadmap.css">
    <link rel="stylesheet" href="../../ui-assets/main.css">
  </head>
  <body class="t-tests">
    <section class="c-facet js-facet">
  <header>
    <h3>Subject (8)</h3>
    <button class="c-facet__toggle-list js-facet__toggle-list" aria-label="filters" aria-expanded="false"></button>
  </header>
  <ul class="c-facet__list js-facet__list" hidden>
    <li><input id="facet-item-4782" type="checkbox"><label for="facet-item-4782">Biological sciences <span class="c-facet__item-total js-facet__item-total">(265)</span></label></li>
    <li><input id="facet-item-3860" type="checkbox"><label for="facet-item-3860">Chemical engineering <span class="c-facet__item-total js-facet__item-total">(394)</span></label></li>
    <li><input id="facet-item-8032" type="checkbox"><label for="facet-item-8032">Clinical medicine <span class="c-facet__item-total js-facet__item-total">(501)</span></label></li>
    <li><input id="facet-item-4137" type="checkbox"><label for="facet-item-4137">Earth and related environmental sciences <span class="c-facet__item-total js-facet__item-total">(862)</span></label></li>
    <li><input id="facet-item-7970" type="checkbox"><label for="facet-item-7970">Engineering and Technology <span class="c-facet__item-total js-facet__item-total">(546)</span></label></li>
    <li><input id="facet-item-4406" type="checkbox"><label for="facet-item-4406">Health sciences <span class="c-facet__item-total js-facet__item-total">(93)</span></label></li>
    <li><input id="facet-item-5789" type="checkbox"><label for="facet-item-5789">Medical and Health Sciences <span class="c-facet__item-total js-facet__item-total">(742)</span></label></li>
    <li><input id="facet-item-2732" type="checkbox"><label for="facet-item-2732">Social Sciences <span class="c-facet__item-total js-facet__item-total">(214)</span></label></li>
  </ul>
</section>

    <script>
      if (document.querySelector('.c-header')) {
        document.querySelector('#js-headernav').hidden = true
      }
    </script>
    <script src="../../ui-assets/main.js"></script>
  </body>
</html>

