

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DMPTool Build Tool Tests</title>
    <link href="../../ui-assets/favicon.ico" rel="shortcut icon">
    <link rel="stylesheet" href="../../ui-assets/dmproadmap.css">
    <link rel="stylesheet" href="../../ui-assets/main.css">
  </head>
  <body class="t-tests">
    <!-- Start: @facet--funder -->
<section class="c-facet js-facet">
  <header>
    <h3>Funder (6)</h3>
    <button type="button" class="c-facet__toggle-list js-facet__toggle-list" aria-label="filters" aria-expanded="false"></button>
  </header>
  <ul class="c-facet__list js-facet__list" hidden>
    <li><input id="facet-item-4835" type="checkbox" name="funder" value="Alfred P. Sloan"><label for="facet-item-4835">Alfred P. Sloan <span class="c-facet__item-total js-facet__item-total">(885)</span></label></li>
    <li><input id="facet-item-151" type="checkbox" name="funder" value="National Aeronautics and Space Administration (NASA)"><label for="facet-item-151">National Aeronautics and Space Administration (NASA) <span class="c-facet__item-total js-facet__item-total">(224)</span></label></li>
    <li><input id="facet-item-7779" type="checkbox" name="funder" value="National Institutes of Helath (NIH)"><label for="facet-item-7779">National Institutes of Helath (NIH) <span class="c-facet__item-total js-facet__item-total">(150)</span></label></li>
    <li><input id="facet-item-5271" type="checkbox" name="funder" value="National Science Foundation (NSF)"><label for="facet-item-5271">National Science Foundation (NSF) <span class="c-facet__item-total js-facet__item-total">(792)</span></label></li>
    <li><input id="facet-item-3127" type="checkbox" name="funder" value="FAPESP - São Paulo Research Foundation (fapesp.br)"><label for="facet-item-3127">FAPESP - São Paulo Research Foundation (fapesp.br) <span class="c-facet__item-total js-facet__item-total">(82)</span></label></li>
    <li>
      <details class="c-more">
        <summary>Show more</summary>
        <ul>
          <li><input id="facet-item-47" type="checkbox" name="funder" value="United States Geological Survey (USGS)"><label for="facet-item-47">United States Geological Survey (USGS) <span class="c-facet__item-total js-facet__item-total">(251)</span></label></li>
        </ul>
      </details>
    </li>
  </ul>
</section>
<!-- End: @facet--funder -->

<!-- Start: @facet--institution -->
<section class="c-facet js-facet">
  <header>
    <h3>Institution (8)</h3>
    <button type="button" class="c-facet__toggle-list js-facet__toggle-list" aria-label="filters" aria-expanded="false"></button>
  </header>
  <ul class="c-facet__list js-facet__list" hidden>
    <li><input id="facet-item-3511" type="checkbox" name="institution" value="Instituto Butantan (butantan.gov.br)"><label for="facet-item-3511">Instituto Butantan (butantan.gov.br) <span class="c-facet__item-total js-facet__item-total">(336)</span></label></li>
    <li><input id="facet-item-7487" type="checkbox" name="institution" value="Purdue University"><label for="facet-item-7487">Purdue University <span class="c-facet__item-total js-facet__item-total">(251)</span></label></li>
    <li><input id="facet-item-2425" type="checkbox" name="institution" value="São Paulo State University (UNESP)"><label for="facet-item-2425">São Paulo State University (UNESP) <span class="c-facet__item-total js-facet__item-total">(43)</span></label></li>
    <li><input id="facet-item-2293" type="checkbox" name="institution" value="Tula Foundation (tula.org)"><label for="facet-item-2293">Tula Foundation (tula.org) <span class="c-facet__item-total js-facet__item-total">(192)</span></label></li>
    <li><input id="facet-item-261" type="checkbox" name="institution" value="Universidade Federal de São Carlos (UFSCar)"><label for="facet-item-261">Universidade Federal de São Carlos (UFSCar) <span class="c-facet__item-total js-facet__item-total">(737)</span></label></li>
    <li>
      <details class="c-more">
        <summary>Show more</summary>
        <ul>
          <li><input id="facet-item-6737" type="checkbox" name="institution" value="University of Delaware (UDel)"><label for="facet-item-6737">University of Delaware (UDel) <span class="c-facet__item-total js-facet__item-total">(421)</span></label></li>
          <li><input id="facet-item-4506" type="checkbox" name="institution" value="Washington University"><label for="facet-item-4506">Washington University <span class="c-facet__item-total js-facet__item-total">(955)</span></label></li>
          <li><input id="facet-item-7266" type="checkbox" name="institution" value="Worcester Polytechnic Institute (wpi.edu)"><label for="facet-item-7266">Worcester Polytechnic Institute (wpi.edu) <span class="c-facet__item-total js-facet__item-total">(478)</span></label></li>
        </ul>
      </details>
    </li>
  </ul>
</section>
<!-- End: @facet--institution -->

<!-- Start: @facet--language -->
<section class="c-facet js-facet">
  <header>
    <h3>language (2)</h3>
    <button type="button" class="c-facet__toggle-list js-facet__toggle-list" aria-label="filters" aria-expanded="false"></button>
  </header>
  <ul class="c-facet__list js-facet__list" hidden>
    <li><input id="facet-item-95" type="checkbox" name="language" value="English"><label for="facet-item-95">English <span class="c-facet__item-total js-facet__item-total">(17)</span></label></li>
    <li><input id="facet-item-3511" type="checkbox" name="language" value="Português (Brasil)"><label for="facet-item-3511">Português (Brasil) <span class="c-facet__item-total js-facet__item-total">(687)</span></label></li>
  </ul>
</section>
<!-- End: @facet--language -->

<!-- Start: @facet--subject -->
<section class="c-facet js-facet">
  <header>
    <h3>Subject (8)</h3>
    <button type="button" class="c-facet__toggle-list js-facet__toggle-list" aria-label="filters" aria-expanded="false"></button>
  </header>
  <ul class="c-facet__list js-facet__list" hidden>
    <li><input id="facet-item-2727" type="checkbox" name="subject" value="Biological sciences"><label for="facet-item-2727">Biological sciences <span class="c-facet__item-total js-facet__item-total">(863)</span></label></li>
    <li><input id="facet-item-7733" type="checkbox" name="subject" value="Chemical engineering"><label for="facet-item-7733">Chemical engineering <span class="c-facet__item-total js-facet__item-total">(77)</span></label></li>
    <li><input id="facet-item-6202" type="checkbox" name="subject" value="Clinical medicine"><label for="facet-item-6202">Clinical medicine <span class="c-facet__item-total js-facet__item-total">(713)</span></label></li>
    <li><input id="facet-item-5271" type="checkbox" name="subject" value="Earth and related environmental sciences"><label for="facet-item-5271">Earth and related environmental sciences <span class="c-facet__item-total js-facet__item-total">(235)</span></label></li>
    <li><input id="facet-item-7524" type="checkbox" name="subject" value="Engineering and Technology"><label for="facet-item-7524">Engineering and Technology <span class="c-facet__item-total js-facet__item-total">(499)</span></label></li>
    <li>
      <details class="c-more">
        <summary>Show more</summary>
        <ul>
          <li><input id="facet-item-3281" type="checkbox" name="subject" value="Health sciences"><label for="facet-item-3281">Health sciences <span class="c-facet__item-total js-facet__item-total">(717)</span></label></li>
          <li><input id="facet-item-6984" type="checkbox" name="subject" value="Medical and Health Sciences"><label for="facet-item-6984">Medical and Health Sciences <span class="c-facet__item-total js-facet__item-total">(762)</span></label></li>
          <li><input id="facet-item-3814" type="checkbox" name="subject" value="Social Sciences"><label for="facet-item-3814">Social Sciences <span class="c-facet__item-total js-facet__item-total">(814)</span></label></li>
        </ul>
      </details>
    </li>
  </ul>
</section>
<!-- End: @facet--subject -->

    <script>
      if (document.querySelector('.c-header')) {
        document.querySelector('#js-headernav').hidden = true
      }
    </script>
    <script src="../../ui-assets/main.js"></script>
  </body>
</html>

