

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DMPTool Build Tool Tests</title>
    <link href="../../ui-assets/favicon.ico" rel="shortcut icon">
    <link rel="stylesheet" href="../../ui-assets/dmproadmap.css">
    <link rel="stylesheet" href="../../ui-assets/main.css">
  </head>
  <body class="t-tests">
    <!-- Start: @facet--funder -->
<section class="c-facet js-facet">
  <header>
    <h3>Funder (6)</h3>
    <button type="button" class="c-facet__toggle-list js-facet__toggle-list" aria-label="filters" aria-expanded="false"></button>
  </header>
  <ul class="c-facet__list js-facet__list" hidden>
    <li><input id="facet-item-748" type="checkbox" name="funder" value="Alfred P. Sloan"><label for="facet-item-748">Alfred P. Sloan <span class="c-facet__item-total js-facet__item-total">(404)</span></label></li>
    <li><input id="facet-item-4477" type="checkbox" name="funder" value="National Aeronautics and Space Administration (NASA)"><label for="facet-item-4477">National Aeronautics and Space Administration (NASA) <span class="c-facet__item-total js-facet__item-total">(301)</span></label></li>
    <li><input id="facet-item-9973" type="checkbox" name="funder" value="National Institutes of Helath (NIH)"><label for="facet-item-9973">National Institutes of Helath (NIH) <span class="c-facet__item-total js-facet__item-total">(187)</span></label></li>
    <li><input id="facet-item-7684" type="checkbox" name="funder" value="National Science Foundation (NSF)"><label for="facet-item-7684">National Science Foundation (NSF) <span class="c-facet__item-total js-facet__item-total">(731)</span></label></li>
    <li><input id="facet-item-1169" type="checkbox" name="funder" value="FAPESP - São Paulo Research Foundation (fapesp.br)"><label for="facet-item-1169">FAPESP - São Paulo Research Foundation (fapesp.br) <span class="c-facet__item-total js-facet__item-total">(671)</span></label></li>
    <li>
      <details>
        <summary>Show more</summary>
        <ul>
          <li><input id="facet-item-7276" type="checkbox" name="funder" value="United States Geological Survey (USGS)"><label for="facet-item-7276">United States Geological Survey (USGS) <span class="c-facet__item-total js-facet__item-total">(712)</span></label></li>
        </ul>
      </details>
    </li>
  </ul>
</section>
<!-- End: @facet--funder -->

<!-- Start: @facet--institution -->
<section class="c-facet js-facet">
  <header>
    <h3>Institution (8)</h3>
    <button type="button" class="c-facet__toggle-list js-facet__toggle-list" aria-label="filters" aria-expanded="false"></button>
  </header>
  <ul class="c-facet__list js-facet__list" hidden>
    <li><input id="facet-item-4280" type="checkbox" name="institution" value="Instituto Butantan (butantan.gov.br)"><label for="facet-item-4280">Instituto Butantan (butantan.gov.br) <span class="c-facet__item-total js-facet__item-total">(280)</span></label></li>
    <li><input id="facet-item-6260" type="checkbox" name="institution" value="Purdue University"><label for="facet-item-6260">Purdue University <span class="c-facet__item-total js-facet__item-total">(229)</span></label></li>
    <li><input id="facet-item-7862" type="checkbox" name="institution" value="São Paulo State University (UNESP)"><label for="facet-item-7862">São Paulo State University (UNESP) <span class="c-facet__item-total js-facet__item-total">(272)</span></label></li>
    <li><input id="facet-item-3919" type="checkbox" name="institution" value="Tula Foundation (tula.org)"><label for="facet-item-3919">Tula Foundation (tula.org) <span class="c-facet__item-total js-facet__item-total">(204)</span></label></li>
    <li><input id="facet-item-500" type="checkbox" name="institution" value="Universidade Federal de São Carlos (UFSCar)"><label for="facet-item-500">Universidade Federal de São Carlos (UFSCar) <span class="c-facet__item-total js-facet__item-total">(187)</span></label></li>
    <li>
      <details>
        <summary>Show more</summary>
        <ul>
          <li><input id="facet-item-6776" type="checkbox" name="institution" value="University of Delaware (UDel)"><label for="facet-item-6776">University of Delaware (UDel) <span class="c-facet__item-total js-facet__item-total">(990)</span></label></li>
          <li><input id="facet-item-6165" type="checkbox" name="institution" value="Washington University"><label for="facet-item-6165">Washington University <span class="c-facet__item-total js-facet__item-total">(758)</span></label></li>
          <li><input id="facet-item-8382" type="checkbox" name="institution" value="Worcester Polytechnic Institute (wpi.edu)"><label for="facet-item-8382">Worcester Polytechnic Institute (wpi.edu) <span class="c-facet__item-total js-facet__item-total">(2)</span></label></li>
        </ul>
      </details>
    </li>
  </ul>
</section>
<!-- End: @facet--institution -->

<!-- Start: @facet--language -->
<section class="c-facet js-facet">
  <header>
    <h3>language (2)</h3>
    <button type="button" class="c-facet__toggle-list js-facet__toggle-list" aria-label="filters" aria-expanded="false"></button>
  </header>
  <ul class="c-facet__list js-facet__list" hidden>
    <li><input id="facet-item-8812" type="checkbox" name="language" value="English"><label for="facet-item-8812">English <span class="c-facet__item-total js-facet__item-total">(898)</span></label></li>
    <li><input id="facet-item-4988" type="checkbox" name="language" value="Português (Brasil)"><label for="facet-item-4988">Português (Brasil) <span class="c-facet__item-total js-facet__item-total">(496)</span></label></li>
  </ul>
</section>
<!-- End: @facet--language -->

<!-- Start: @facet--subject -->
<section class="c-facet js-facet">
  <header>
    <h3>Subject (8)</h3>
    <button type="button" class="c-facet__toggle-list js-facet__toggle-list" aria-label="filters" aria-expanded="false"></button>
  </header>
  <ul class="c-facet__list js-facet__list" hidden>
    <li><input id="facet-item-9556" type="checkbox" name="subject" value="Biological sciences"><label for="facet-item-9556">Biological sciences <span class="c-facet__item-total js-facet__item-total">(458)</span></label></li>
    <li><input id="facet-item-8980" type="checkbox" name="subject" value="Chemical engineering"><label for="facet-item-8980">Chemical engineering <span class="c-facet__item-total js-facet__item-total">(772)</span></label></li>
    <li><input id="facet-item-7140" type="checkbox" name="subject" value="Clinical medicine"><label for="facet-item-7140">Clinical medicine <span class="c-facet__item-total js-facet__item-total">(223)</span></label></li>
    <li><input id="facet-item-4584" type="checkbox" name="subject" value="Earth and related environmental sciences"><label for="facet-item-4584">Earth and related environmental sciences <span class="c-facet__item-total js-facet__item-total">(531)</span></label></li>
    <li><input id="facet-item-2967" type="checkbox" name="subject" value="Engineering and Technology"><label for="facet-item-2967">Engineering and Technology <span class="c-facet__item-total js-facet__item-total">(416)</span></label></li>
    <li>
      <details>
        <summary>Show more</summary>
        <ul>
          <li><input id="facet-item-2161" type="checkbox" name="subject" value="Health sciences"><label for="facet-item-2161">Health sciences <span class="c-facet__item-total js-facet__item-total">(2)</span></label></li>
          <li><input id="facet-item-7480" type="checkbox" name="subject" value="Medical and Health Sciences"><label for="facet-item-7480">Medical and Health Sciences <span class="c-facet__item-total js-facet__item-total">(536)</span></label></li>
          <li><input id="facet-item-7437" type="checkbox" name="subject" value="Social Sciences"><label for="facet-item-7437">Social Sciences <span class="c-facet__item-total js-facet__item-total">(286)</span></label></li>
        </ul>
      </details>
    </li>
  </ul>
</section>
<!-- End: @facet--subject -->

    <script>
      if (document.querySelector('.c-header')) {
        document.querySelector('#js-headernav').hidden = true
      }
    </script>
    <script src="../../ui-assets/main.js"></script>
  </body>
</html>

