

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DMPTool Build Tool Tests</title>
    <link href="../../ui-assets/favicon.ico" rel="shortcut icon">
    <link rel="stylesheet" href="../../ui-assets/dmproadmap.css">
    <link rel="stylesheet" href="../../ui-assets/main.css">
  </head>
  <body class="t-tests">
    <section class="c-facet js-facet">
  <header>
    <h3>Subject (8)</h3>
    <button class="c-facet__toggle-list js-facet__toggle-list" aria-label="filters" aria-expanded="false"></button>
  </header>
  <ul class="c-facet__list js-facet__list" hidden>
    <li><input id="facet-item-5682" type="checkbox"><label for="facet-item-5682">Biological sciences <span class="c-facet__item-total js-facet__item-total">(241)</span></label></li>
    <li><input id="facet-item-2095" type="checkbox"><label for="facet-item-2095">Chemical engineering <span class="c-facet__item-total js-facet__item-total">(435)</span></label></li>
    <li><input id="facet-item-2716" type="checkbox"><label for="facet-item-2716">Clinical medicine <span class="c-facet__item-total js-facet__item-total">(877)</span></label></li>
    <li><input id="facet-item-1479" type="checkbox"><label for="facet-item-1479">Earth and related environmental sciences <span class="c-facet__item-total js-facet__item-total">(237)</span></label></li>
    <li><input id="facet-item-7022" type="checkbox"><label for="facet-item-7022">Engineering and Technology <span class="c-facet__item-total js-facet__item-total">(323)</span></label></li>
    <li><input id="facet-item-3563" type="checkbox"><label for="facet-item-3563">Health sciences <span class="c-facet__item-total js-facet__item-total">(245)</span></label></li>
    <li><input id="facet-item-440" type="checkbox"><label for="facet-item-440">Medical and Health Sciences <span class="c-facet__item-total js-facet__item-total">(271)</span></label></li>
    <li><input id="facet-item-118" type="checkbox"><label for="facet-item-118">Social Sciences <span class="c-facet__item-total js-facet__item-total">(9)</span></label></li>
  </ul>
</section>

    <script>
      if (document.querySelector('.c-header')) {
        document.querySelector('#js-headernav').hidden = true
      }
    </script>
    <script src="../../ui-assets/main.js"></script>
  </body>
</html>

