

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DMPTool</title>
    <link href="../../ui-assets/favicon.ico" rel="shortcut icon">
    <link rel="stylesheet" href="../../ui-assets/main.css">
  </head>
  <body class="t-generic">
    <a href="#maincontent" class="c-skipnav">Skip to main content</a>

<header class="c-header">
  <a class="c-logo-dmptool" href="/">
  <picture>
    <source srcset="../../ui-assets/logo-dmptool-large.svg" media="(min-width: 50rem)" width="272" height="73">
    <img src="../../ui-assets/logo-dmptool-small.svg" alt="DMPTool logo" width="208" height="37">
  </picture>
</a>

  <button id="js-navtoggle" class="c-navtoggle" aria-label="main navigation"></button>

  <nav aria-label="main" id="js-headernav" class="c-headernav">
  <ul>
    <li><a href="">Home</a></li>
    <li><a href="">Funder Requirements</a></li>
    <li><a href="">Public DMPs</a></li>
    <li><a href="">Help</a></li>
  </ul>
</nav>

  <div id="js-language" class="c-language">
  <button id="js-language__button" class="c-language__button" aria-label="language menu">Language</button>
  <ul id="js-language__menu" class="c-language__menu" hidden>
    <li><a href="https://dmptool.org/locale/en-US">English (US)</a></li>
    <li lang="pt"><a href="https://dmptool.org/locale/pt-BR">Português (Brasil)</a></li>
  </ul>
</div>

</header>

<main id="maincontent">
  <h1>Generic Page</h1>
  <p>Alias saepe et sint ducimus. Consequatur similique reprehenderit hic velit ea. Nihil veniam neque sint dolorem laborum ut repudiandae. Aliquid quidem consequatur totam sapiente labore reprehenderit. Saepe ratione quo aut similique iure. Vitae aut labore laboriosam qui laborum fuga. Libero voluptatum atque adipisci ut incidunt. Suscipit cumque error labore nesciunt et. Ad ea voluptatem. Nihil maiores perferendis. Adipisci velit quia nisi aliquam iure sed et qui quisquam. Voluptate dolorum animi qui alias vel quia nobis unde cumque. Hic in praesentium incidunt expedita ipsa.</p>
  <p>Doloribus amet voluptatem explicabo aut cumque omnis doloremque omnis adipisci. Rem doloremque qui a inventore vel ut vel quia debitis. Tempore ut aut quaerat aut non reiciendis porro. Qui velit libero est temporibus et magni laboriosam enim non. Aspernatur exercitationem est consectetur voluptatem. Dolore esse temporibus nobis quibusdam. Et repellendus reprehenderit et et vitae. Est et doloremque est. Adipisci non nostrum quos. Quasi autem esse iure in quia reiciendis. Laudantium magni ut eius iusto magnam eaque qui excepturi. Rerum eum accusamus tenetur incidunt asperiores quas sint vero.</p>
  <p>Voluptates ratione recusandae eum consectetur architecto. Velit illo et quis dolor enim iusto. Rerum sequi quidem blanditiis. Exercitationem quo et laborum ducimus libero voluptas. Velit mollitia ea nostrum voluptas ut quo non. Aut sed nihil ut facere non laudantium. Quas ad est non qui enim. Et quo autem ex veniam laborum eius porro est. Et quia consequatur est incidunt est sint qui rem ut. Aut quasi laboriosam id impedit et. Ea repellat modi dolor quibusdam atque omnis blanditiis. Consectetur quae reiciendis omnis.</p>
  <p>Suscipit voluptatem quos. Et exercitationem similique quae amet. Magni repudiandae itaque delectus non perspiciatis sed ratione consequatur. Minima blanditiis nam laudantium repellendus aperiam sit sint quia quia. Tempore a doloribus excepturi aut laudantium est sit. Architecto dolorem ullam doloremque sunt labore error qui eum. Quisquam est occaecati et delectus expedita ut consequatur repellendus. Repellat laudantium fugiat sint voluptas molestiae. Et est dicta totam esse rerum ex eos soluta maiores. Et adipisci ullam quidem cupiditate enim. Velit inventore a accusantium sequi et sint perspiciatis. Quis vel et laborum eveniet assumenda nihil est enim ducimus. Rem corporis fugit quidem tempore iure aut.</p>
  <p>Id quis quasi. Rerum ea sit harum voluptatum. Sit error distinctio numquam tempora consequuntur incidunt quia. Accusamus dolorem numquam reiciendis animi sed dolor est adipisci earum. Eius explicabo neque. Iste illo nobis omnis dolores delectus. Iusto recusandae sed aspernatur corrupti. Quis eum nisi et eveniet dignissimos qui error qui qui. Illo facilis nobis. Facilis exercitationem temporibus veritatis. Ab maiores cum exercitationem vel. Beatae modi placeat nulla dolores est harum consequuntur repellendus illo.</p>
</main>
<footer class="c-footer">
  <a class="c-logo-cdl" href="https://cdlib.org">
  <img src="../../ui-assets/logo-cdl.svg" alt="California Digital Library logo" width="104" height="39" loading="lazy">
</a>

  <nav aria-label="footer" class="c-footernav">
  <ul>
    <li><a href="">About</a></li>
    <li><a href="">Contact Us</a></li>
    <li><a href="">Terms of Use</a></li>
    <li><a href="">Privacy Statement</a></li>
    <li><a href="">GitHub</a></li>
    <li><a href="">Accessibility</a></li>
    <li><a href="">Site Map</a></li>
  </ul>
</nav>

  <div class="c-copyright">
  <p>DMPTool is a service of the <a href="https://cdlib.org">California Digital Library</a>, a division of the <a href="https://www.universityofcalifornia.edu">University of California Office of the President</a>. Version: v3.1.5</p>

  <p>&copy; 2021 The Regents of the University of California</p>
</div>

  <ul class="c-social">
  <li><a class="c-social__icon-twitter" href="https://twitter.com/TheDMPTool" target="_blank"><span class="c-social__sr-only">TheDMPTool on Twitter (opens new window)</span></a></li>
  <li><a class="c-social__icon-rss" href="https://blog.dmptool.org/feed/" target="_blank"><span class="c-social__sr-only">DMPTool RSS feed (opens new window)</span></a></li>
</ul>

  <article class="c-blog" role="marquee">
  <header>
    <h2>Latest News from DMPTool</h2>
  </header>
  <div class="c-blog__content">[blog content goes here] 
  </div>
  <footer>
    <a href="">View all news</a>
  </footer>
</article>

</footer>


    <script>
      if (document.querySelector('.c-header')) {
        document.querySelector('#js-headernav').hidden = true
      }
    </script>
    <script src="../../ui-assets/main.js"></script>
  </body>
</html>

