

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DMPTool</title>
    <link href="../../ui-assets/favicon.ico" rel="shortcut icon">
    <link rel="stylesheet" href="../../ui-assets/dmproadmap.css">
    <link rel="stylesheet" href="../../ui-assets/main.css">
  </head>
  <body class="t-generic">
    <a href="#maincontent" class="c-skipnav">Skip to main content</a>

<header class="c-header">
  <a class="c-logo-dmptool" href="/">
  <picture>
    <source srcset="../../ui-assets/logo-dmptool-large.svg" media="(min-width: 50rem)" width="272" height="73">
    <img src="../../ui-assets/logo-dmptool-small.svg" alt="DMPTool logo" width="208" height="37">
  </picture>
</a>

  <div class="c-headermenugroup">
        <!-- This menu uses accessibility techniques from: https://www.w3.org/TR/wai-aria-practices-1.1/examples/menu-button/menu-button-links.html -->

<div id="js-user-profile" class="c-profile c-headermenu">
  <button id="js-user-profile__button" class="c-headermenu__button" aria-label="Jane Doe profile" aria-haspopup="true">Jane Doe</button>
  <ul id="js-user-profile__menu" class="c-headermenu__menu" hidden>
    <li><a role="menuitem" href="https://dmptool.org/users/edit">Edit profile</a></li>
    <li><a role="menuitem" href="https://dmptool.org/users/third_party_apps">3rd party applications</a></li>
    <li><a role="menuitem" href="https://dmptool.org/users/developer_tools">Developer tools</a></li>
    <li><a role="menuitem" href="https://dmptool.org/users/sign_out">Sign out</a></li>
  </ul>
</div>

    <!-- This menu uses accessibility techniques from: https://www.w3.org/TR/wai-aria-practices-1.1/examples/menu-button/menu-button-links.html -->

<div id="js-language" class="c-language c-headermenu">
  <button id="js-language__button" class="c-headermenu__button" aria-haspopup="true">Language</button>
  <ul id="js-language__menu" class="c-headermenu__menu" hidden>
    <li><a role="menuitem" href="https://dmptool.org/locale/en-US">English (US)</a></li>
    <li lang="pt"><a role="menuitem" href="https://dmptool.org/locale/pt-BR">Português (Brasil)</a></li>
  </ul>
</div>

  </div>
  <button id="js-navtoggle" class="c-navtoggle" aria-label="main navigation"></button>

  <nav aria-label="main" id="js-headernav" class="c-headernav">
    <ul>
        <li><a href="">Dashboard</a></li>
      <li><a href="">Funder Requirements</a></li>
      <li><a href="">Public DMPs</a></li>
      <li><a href="">Help</a></li>
    </ul>
  </nav>
    <div class="c-subheader">
      <a class="c-logo-org" href="https://www.ucmerced.edu">
    <img src="../../ui-assets/logo-ucm.svg" alt="UC Merced logo" width="104" height="39">
</a>

      <div class="c-headermenugroup">
  <!-- This menu uses accessibility techniques from: https://www.w3.org/TR/wai-aria-practices-1.1/examples/menu-button/menu-button-links.html -->

<div id="js-admin" class="c-admin c-headermenu">
  <button id="js-admin__button" class="c-headermenu__button" aria-haspopup="true" aria-label="administrator menu">
    Admin
  </button>
  <ul id="js-admin__menu" class="c-headermenu__menu" hidden>
    <li><a role="menuitem" href="/super_admin/api_clients">Api Clients</a></li>
    <li><a role="menuitem" href="/org/admin/guidance/15/admin_index">Guidance</a></li>
    <li><a role="menuitem" href="/super_admin/notifications">Notifications</a></li>
    <li><a role="menuitem" href="/org/admin/15/admin_edit">Organization details</a></li>
    <li><a role="menuitem" href="/org_admin/plans">Plans</a></li>
    <li><a role="menuitem" href="/org_admin/templates">Templates</a></li>
    <li><a role="menuitem" href="/super_admin/themes">Themes</a></li>
    <li><a role="menuitem" href="/usage">Usage</a></li>
    <li><a role="menuitem" href="/org/admin/users/admin_index">Users</a></li>
  </ul>
</div>

</div>

      <ul class="c-links-org">
  <li>
    <a class="c-links-org__ucop" target="_blank" href="http://www.ucop.edu/">UCOP website</a>
  </li>
  <li>
    <a class="c-links-org__uc3-helpdesk" href="mailto:uc3@ucop.edu">UC3 Helpdesk</a>
  </li>
</ul>

    </div>
</header>
<main id="maincontent">
  <h1>Generic Page</h1>
    <p>Aperiam velit labore. Omnis et sit sed reiciendis maxime omnis eveniet velit doloribus. Voluptatem odio sit ea neque quis quidem. Saepe exercitationem natus assumenda repellendus est perspiciatis. Placeat odio quia at ratione ratione et sint soluta nam. Accusamus voluptate a qui voluptatem voluptas a corporis eius esse. Nemo consequuntur quibusdam exercitationem porro est debitis. Voluptatibus expedita nobis est magni itaque modi consequatur adipisci reiciendis. Aliquid eius debitis atque totam. Asperiores aspernatur eos inventore aut natus modi esse quasi. Maxime laboriosam delectus.</p>
    <p>Et blanditiis nostrum est quasi ut. Eum nesciunt est omnis et voluptatem ea neque officia est. Expedita veritatis et. Consequatur vel sint. Facilis enim alias sed voluptas incidunt quae reprehenderit ut eos. Consequuntur dolores magnam ut quo rem voluptatum cumque ad quis. Perspiciatis adipisci et natus architecto. Qui omnis illo officiis voluptates nam nostrum. Odit aut voluptatem aliquam aspernatur. Temporibus dolorem hic rerum eligendi enim. Porro id voluptates accusantium omnis. Mollitia accusamus inventore temporibus error cupiditate.</p>
    <p>Consequatur autem saepe perspiciatis culpa fugiat quis omnis hic. Est ipsam fugit. Numquam qui sed facilis hic vel reiciendis necessitatibus dolor. Recusandae maiores harum velit et minima voluptatum molestiae. Quia aut itaque. Non numquam vero neque officia nam quas corporis adipisci. Debitis rerum corrupti consectetur. Non ipsa sequi quia cupiditate in consequatur non. Voluptate non perspiciatis voluptatem non. Adipisci voluptatem sunt vitae sit.</p>
    <p>Et corrupti veniam ratione quo eos. Consequatur quia sunt laudantium velit illo tempora ipsum. Itaque rem exercitationem animi velit voluptatibus. Facilis accusantium saepe officiis atque ut molestiae dolorum. Illum et fugit et. Doloribus voluptate sunt nobis neque ex facere sequi iusto. Explicabo dolor quas perspiciatis vero. Quidem nisi sunt minima enim eligendi explicabo aut temporibus. Molestias maxime laudantium. Dolor necessitatibus dolorem facere omnis dolore eum. Doloribus iure nisi cupiditate. Temporibus nemo qui. Ut velit accusantium enim consequuntur beatae nemo.</p>
    <p>Nobis minus mollitia. Molestiae qui ut et exercitationem assumenda non quas quidem qui. Dolores soluta ex illum molestiae. Dolor odio dolores. Corrupti aut molestias assumenda in fugit necessitatibus corporis architecto aut. Exercitationem quisquam amet atque neque eveniet. Quos voluptas nostrum. Rerum quisquam voluptatem qui quaerat nam molestiae alias. Voluptatibus est assumenda voluptatem voluptate molestiae et et possimus suscipit. Itaque fugit suscipit aut qui rerum laboriosam harum. Eum ex et aliquam et dolore et et magnam. Excepturi laborum quod facilis et quas quae sed consequatur veritatis.</p>
</main>
<footer class="c-footer">
  <a class="c-logo-cdl" href="https://cdlib.org">
  <img src="../../ui-assets/logo-cdl.svg" alt="California Digital Library logo" width="104" height="39" loading="lazy">
</a>

  <nav aria-label="footer" class="c-footernav">
  <ul>
    <li><a href="">About</a></li>
    <li><a href="">Contact Us</a></li>
    <li><a href="">Terms of Use</a></li>
    <li><a href="">Privacy Statement</a></li>
    <li><a href="">GitHub</a></li>
    <li><a href="">Accessibility</a></li>
    <li><a href="">Site Map</a></li>
  </ul>
</nav>

  <div class="c-copyright">
  <p>DMPTool is a service of the <a href="https://cdlib.org">California Digital Library</a>, a division of the <a href="https://www.universityofcalifornia.edu">University of California Office of the President</a>. Version: v3.1.5</p>

  <p>&copy; 2021 The Regents of the University of California</p>
</div>

</footer>


    <script>
      if (document.querySelector('.c-header')) {
        document.querySelector('#js-headernav').hidden = true
      }
    </script>
    <script src="../../ui-assets/main.js"></script>
  </body>
</html>

