

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DMPTool</title>
    <link href="../../ui-assets/images/favicon.ico" rel="shortcut icon">
    <link rel="stylesheet" href="../../ui-assets/main.css">
  </head>
  <body class="t-generic">
    <a href="#maincontent" class="c-skipnav">Skip to main content</a>

<header class="c-header">
  <a class="c-logo-dmptool" href="/">
  <picture>
    <source srcset="../../ui-assets/images/logo-dmptool-large.svg" media="(min-width: 50rem)">
    <img src="../../ui-assets/images/logo-dmptool-small.svg" alt="DMPTool logo">
  </picture>
</a>

  <button id="js-navtoggle" class="c-navtoggle" aria-label="main navigation"></button>

  <nav aria-label="main" id="js-headernav" class="c-headernav">
  <ul>
    <li><a href="">Home</a></li>
    <li><a href="">Funder Requirements</a></li>
    <li><a href="">Public DMPs</a></li>
    <li><a href="">Help</a></li>
  </ul>
</nav>

  <div id="js-language" class="c-language">
  <button id="js-language__button" class="c-language__button" aria-label="language menu">Language</button>
  <ul id="js-language__menu" class="c-language__menu" hidden>
    <li><a href="https://dmptool.org/locale/en-US">English (US)</a></li>
    <li lang="pt"><a href="https://dmptool.org/locale/pt-BR">Português (Brasil)</a></li>
  </ul>
</div>

</header>

<main id="maincontent">
  <h1>Generic Page</h1>
  <p>Cum temporibus veniam. Voluptatem illo aspernatur accusamus ad aut fuga. Corporis id est laborum. Natus rem ipsam omnis. Quia ut in at quis est sed sunt occaecati aut. Ratione voluptatum ullam consectetur corrupti suscipit eum nostrum maxime omnis. Autem ut et qui. Libero quia aspernatur praesentium nostrum numquam atque non officia. Accusamus voluptatum ducimus nostrum modi et provident assumenda qui. Non enim et sequi.</p>
  <p>Ut et sint ea est temporibus inventore minus qui blanditiis. Itaque et sapiente est illo et unde excepturi ut est. Quisquam earum ipsum dolor est nam ullam rerum molestiae quae. Inventore cum laborum. Voluptatem natus suscipit ratione ut excepturi. Neque sed eius et non. Qui commodi rerum excepturi aperiam earum et aut. Quisquam labore eos. Incidunt quia corporis dolor natus vitae amet aut itaque corporis. Dicta voluptas accusamus mollitia deserunt odit rerum voluptas. Aut rem sit placeat. Aut aut itaque.</p>
  <p>Harum nulla delectus qui facere suscipit sapiente unde rerum provident. Ut aut et impedit eligendi quis fugit in ratione. Id aut officia pariatur et vel sit. Eum dolorem labore nesciunt pariatur voluptas sunt. Et et quis nisi. Nisi magnam soluta animi earum sint. At distinctio vel aliquid. Non vitae nihil est sequi debitis ad. Aut dicta ducimus alias consequatur ab in rerum voluptas. Rerum qui eveniet eum impedit impedit adipisci autem recusandae. Qui iure sit recusandae ipsa dolores. Laudantium quisquam aut qui commodi laudantium itaque dolorum ea qui.</p>
  <p>Mollitia impedit vero temporibus. Cumque voluptatem quia tenetur ullam et voluptas. Id non vel. Vero natus rerum et eligendi veniam sequi. Molestias et consectetur. Molestias unde molestiae. Assumenda nemo aut. Nihil quod in eum deserunt aut fugiat. Magnam similique veniam illo maxime sunt modi. Nemo totam repellat voluptatem ratione error repellat excepturi dicta. Voluptatum ad quisquam debitis sunt alias. Tenetur quia aut error quasi doloremque maxime quia qui.</p>
  <p>Odit unde harum. Itaque cupiditate placeat voluptas dolore nisi. Tenetur dolore eos occaecati aliquam exercitationem sit saepe eveniet saepe. Fugiat expedita voluptatem. Eaque repellat sed aut doloribus. Nulla impedit ab qui ipsam. Non quos id voluptatibus laudantium. Qui omnis consequatur aut necessitatibus qui sunt blanditiis. Dolorem ut fugit excepturi quasi. Tenetur neque ut nihil aut fugiat sequi.</p>
</main>
<footer class="c-footer">
  <a class="c-logo-cdl" href="https://cdlib.org">
  <img src="../../ui-assets/images/logo-cdl.svg" alt="California Digital Library logo">
</a>

  <nav aria-label="footer" class="c-footernav">
  <ul>
    <li><a href="">About</a></li>
    <li><a href="">Contact Us</a></li>
    <li><a href="">Terms of Use</a></li>
    <li><a href="">Privacy Statement</a></li>
    <li><a href="">GitHub</a></li>
    <li><a href="">Accessibility</a></li>
    <li><a href="">Site Map</a></li>
  </ul>
</nav>

  <div class="c-copyright">
  <p>DMPTool is a service of the <a href="https://cdlib.org">California Digital Library</a>, a division of the <a href="https://www.universityofcalifornia.edu">University of California Office of the President</a>. Version: v3.1.5</p>

  <p>&copy; 2021 The Regents of the University of California</p>
</div>

  <ul class="c-social">
  <li><a class="c-social__icon-twitter" href="https://twitter.com/TheDMPTool" target="_blank"><span class="c-social__sr-only">TheDMPTool on Twitter (opens new window)</span></a></li>
  <li><a class="c-social__icon-rss" href="https://blog.dmptool.org/feed/" target="_blank"><span class="c-social__sr-only">DMPTool RSS feed (opens new window)</span></a></li>
</ul>

  <article class="c-blog" role="marquee">
  <header>
    <h2>Latest News from DMPTool</h2>
  </header>
  <div class="c-blog__content">[blog content goes here] 
  </div>
  <footer>
    <a href="">View all news</a>
  </footer>
</article>

</footer>


    <script src="../../ui-assets/main.js"></script>
  </body>
</html>

