

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DMPTool</title>
    <link href="../../ui-assets/favicon.ico" rel="shortcut icon">
    <link rel="stylesheet" href="../../ui-assets/dmproadmap.css">
    <link rel="stylesheet" href="../../ui-assets/main.css">
  </head>
  <body class="t-generic">
    <a href="#maincontent" class="c-skipnav">Skip to main content</a>

<header class="c-header">
  <a class="c-logo-dmptool" href="/">
  <picture>
    <source srcset="../../ui-assets/logo-dmptool-large.svg" media="(min-width: 50rem)" width="272" height="73">
    <img src="../../ui-assets/logo-dmptool-small.svg" alt="DMPTool logo" width="208" height="37">
  </picture>
</a>

  <div class="c-headermenugroup">
        <!-- This menu uses accessibility techniques from: https://www.w3.org/TR/wai-aria-practices-1.1/examples/menu-button/menu-button-links.html -->

<div id="js-user-profile" class="c-profile c-headermenu">
  <button id="js-user-profile__button" class="c-headermenu__button" aria-label="Jane Doe profile" aria-haspopup="true">Jane Doe</button>
  <ul id="js-user-profile__menu" class="c-headermenu__menu" hidden>
    <li><a role="menuitem" href="https://dmptool.org/users/edit">Edit profile</a></li>
    <li><a role="menuitem" href="https://dmptool.org/users/third_party_apps">3rd party applications</a></li>
    <li><a role="menuitem" href="https://dmptool.org/users/developer_tools">Developer tools</a></li>
    <li><a role="menuitem" href="https://dmptool.org/users/sign_out">Sign out</a></li>
  </ul>
</div>

    <!-- This menu uses accessibility techniques from: https://www.w3.org/TR/wai-aria-practices-1.1/examples/menu-button/menu-button-links.html -->

<div id="js-language" class="c-language c-headermenu">
  <button id="js-language__button" class="c-headermenu__button" aria-haspopup="true">Language</button>
  <ul id="js-language__menu" class="c-headermenu__menu" hidden>
    <li><a role="menuitem" href="https://dmptool.org/locale/en-US">English (US)</a></li>
    <li lang="pt"><a role="menuitem" href="https://dmptool.org/locale/pt-BR">Português (Brasil)</a></li>
  </ul>
</div>

  </div>
  <button id="js-navtoggle" class="c-navtoggle" aria-label="main navigation"></button>

  <nav aria-label="main" id="js-headernav" class="c-headernav">
    <ul>
        <li><a href="">Dashboard</a></li>
      <li><a href="">Funder Requirements</a></li>
      <li><a href="">Public DMPs</a></li>
      <li><a href="">Help</a></li>
    </ul>
  </nav>
    <div class="c-subheader">
      <a class="c-logo-org" href="https://www.ucmerced.edu">
    <img src="../../ui-assets/logo-ucm.svg" alt="UC Merced logo" width="104" height="39">
</a>

      <div class="c-headermenugroup">
  <!-- This menu uses accessibility techniques from: https://www.w3.org/TR/wai-aria-practices-1.1/examples/menu-button/menu-button-links.html -->

<div id="js-admin" class="c-admin c-headermenu">
  <button id="js-admin__button" class="c-headermenu__button" aria-haspopup="true" aria-label="administrator menu">
    Admin
  </button>
  <ul id="js-admin__menu" class="c-headermenu__menu" hidden>
    <li><a role="menuitem" href="/super_admin/api_clients">Api Clients</a></li>
    <li><a role="menuitem" href="/org/admin/guidance/15/admin_index">Guidance</a></li>
    <li><a role="menuitem" href="/super_admin/notifications">Notifications</a></li>
    <li><a role="menuitem" href="/org/admin/15/admin_edit">Organization details</a></li>
    <li><a role="menuitem" href="/org_admin/plans">Plans</a></li>
    <li><a role="menuitem" href="/org_admin/templates">Templates</a></li>
    <li><a role="menuitem" href="/super_admin/themes">Themes</a></li>
    <li><a role="menuitem" href="/usage">Usage</a></li>
    <li><a role="menuitem" href="/org/admin/users/admin_index">Users</a></li>
  </ul>
</div>

</div>

      <ul class="c-links-org">
  <li>
    <a class="c-links-org__ucop" target="_blank" href="http://www.ucop.edu/">UCOP website</a>
  </li>
  <li>
    <a class="c-links-org__uc3-helpdesk" href="mailto:uc3@ucop.edu">UC3 Helpdesk</a>
  </li>
</ul>

    </div>
    <div class="c-notificationgroup">
  <div id="js-notification-info" class="c-notification--info" role="alert">
  <p>Successfully saved your changes.</p>
  <button id="js-notification-close" class="c-notification__close"><span>Close</span></button>
</div>

  <div id="js-notification-warning" class="c-notification--warning" role="alert">
  <p>The system will be down for maintenance starting 12/31/2025.</p>
  <button id="js-notification-close" class="c-notification__close"><span>Close</span></button>
</div>

</div>

</header>
<main id="maincontent">
  <h1>Generic Page</h1>
    <p>Quae qui eos velit dolor consectetur officiis. Omnis necessitatibus consequatur. Deleniti ducimus veritatis odit id qui beatae corporis dolor odio. Dolores aut rem et recusandae omnis dolor sed ut. Tempore excepturi sapiente. Soluta at incidunt doloribus est mollitia. Ut et atque. Quia debitis quasi qui delectus est sunt. Quas consequatur possimus. Ipsa et consequatur quo vel dolorum voluptate minima aspernatur. Et voluptate non qui nisi aliquid omnis. Error est est sequi quidem qui facilis est dolorem.</p>
    <p>Iste nihil et dolor sit maxime amet nemo culpa magnam. Est laboriosam necessitatibus vel minus velit. Numquam dolor aut est sint. Dolor quia ex deleniti eveniet blanditiis aliquam et. Qui omnis et magnam minima fugit. Quaerat facilis nihil sit nihil. Nemo reprehenderit sunt optio asperiores animi. Perspiciatis perspiciatis sapiente sint qui quasi et cum illo. Possimus exercitationem eos. Quidem sit dolorum.</p>
    <p>Ut sapiente magni asperiores et et. Aut quasi distinctio reprehenderit. Voluptatem quis tenetur. Sed sed voluptatem est est dolore voluptas. Aut fugiat sed facere doloremque aut aliquam. Quis earum dolorem excepturi qui laudantium sapiente eligendi sunt est. Ad corporis est vitae sunt optio atque deleniti sint. Aliquid a earum dolor saepe sequi saepe totam. Nesciunt accusamus corporis odit hic voluptatibus. Repellat dolorem nihil dolorum non animi.</p>
    <p>Perferendis natus occaecati. Vel alias laborum qui reprehenderit est autem enim dicta. Et nemo blanditiis ratione dolores consequatur veniam. Laborum qui dolore. Quibusdam dicta unde corporis sequi consequuntur delectus. Velit consequatur numquam iusto. Reiciendis corporis occaecati facilis. Molestiae quibusdam molestias est inventore. Quia velit quibusdam itaque porro laboriosam id mollitia. Voluptatibus et et earum odio. Non dolorum culpa quisquam magni nihil consequatur. Alias eius qui molestias tempora et aliquid.</p>
    <p>Consequatur quia perferendis delectus voluptatem ad ut. Rerum est eveniet qui. Cupiditate nostrum cupiditate et sed unde vitae culpa. Quas quia dolorem. Neque non et. Ut sapiente dolorum omnis vitae doloribus qui quo dicta aperiam. Ducimus voluptatem in quia dolorum. Quia recusandae iste consequatur tenetur in. Magnam reprehenderit alias repellat. Repellat et quod amet quo voluptas deserunt est sint. Saepe eius dolor culpa.</p>
</main>
<footer class="c-footer">
  <a class="c-logo-cdl" href="https://cdlib.org">
  <img src="../../ui-assets/logo-cdl.svg" alt="California Digital Library logo" width="104" height="39" loading="lazy">
</a>

  <nav aria-label="footer" class="c-footernav">
  <ul>
    <li><a href="">About</a></li>
    <li><a href="">Contact Us</a></li>
    <li><a href="">Terms of Use</a></li>
    <li><a href="">Privacy Statement</a></li>
    <li><a href="">GitHub</a></li>
    <li><a href="">Accessibility</a></li>
    <li><a href="">Site Map</a></li>
  </ul>
</nav>

  <div class="c-copyright">
  <p>DMPTool is a service of the <a href="https://cdlib.org">California Digital Library</a>, a division of the <a href="https://www.universityofcalifornia.edu">University of California Office of the President</a>. Version: v3.1.5</p>

  <p>&copy; 2021 The Regents of the University of California</p>
</div>

</footer>


    <script>
      if (document.querySelector('.c-header')) {
        document.querySelector('#js-headernav').hidden = true
      }
    </script>
    <script src="../../ui-assets/main.js"></script>
  </body>
</html>

