

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DMPTool</title>
    <link href="../../ui-assets/favicon.ico" rel="shortcut icon">
    <link rel="stylesheet" href="../../ui-assets/main.css">
  </head>
  <body class="t-generic">
    <a href="#maincontent" class="c-skipnav">Skip to main content</a>

<header class="c-header">
  <a class="c-logo-dmptool" href="/">
  <picture>
    <source srcset="../../ui-assets/logo-dmptool-large.svg" media="(min-width: 50rem)" width="272" height="73">
    <img src="../../ui-assets/logo-dmptool-small.svg" alt="DMPTool logo" width="208" height="37">
  </picture>
</a>

  <div class="c-headermenugroup">
        <a class="c-signin" href="path/to/home">Sign In</a>

    <!-- This menu uses accessibility techniques from: https://www.w3.org/TR/wai-aria-practices-1.1/examples/menu-button/menu-button-links.html -->

<div id="js-language" class="c-language c-headermenu">
  <button id="js-language__button" class="c-headermenu__button" aria-haspopup="true">Language</button>
  <ul id="js-language__menu" class="c-headermenu__menu" hidden>
    <li><a role="menuitem" href="https://dmptool.org/locale/en-US">English (US)</a></li>
    <li lang="pt"><a role="menuitem" href="https://dmptool.org/locale/pt-BR">Português (Brasil)</a></li>
  </ul>
</div>

  </div>
  <button id="js-navtoggle" class="c-navtoggle" aria-label="main navigation"></button>

  <nav aria-label="main" id="js-headernav" class="c-headernav">
    <ul>
      <li><a href="">Funder Requirements</a></li>
      <li><a href="">Public DMPs</a></li>
      <li><a href="">Help</a></li>
    </ul>
  </nav>
</header>
<main id="maincontent">
  <h1>Generic Page</h1>
    <p>Nulla minus et officia voluptatibus amet earum eveniet sequi possimus. Sit et veniam quia. Officia asperiores eveniet. Ut et eum impedit qui molestias aliquam nulla. Quia beatae voluptas non nemo repellendus minus fugit non. Mollitia vel tempore ut rerum. Dolor porro dignissimos voluptas sit magnam unde non asperiores. Numquam non recusandae omnis nesciunt incidunt nesciunt. Et qui id ea dolorem. Omnis qui molestiae eos aut voluptates. Qui vero omnis non repellendus. Aut possimus veniam. Magni ullam ipsam rem et aut.</p>
    <p>Ducimus natus voluptate omnis alias dolor et sunt odio. In fugit saepe ducimus quas quia. Sequi distinctio incidunt nihil eum aperiam voluptas ut ut. Reprehenderit omnis porro at molestias sit ut repudiandae. Qui ratione sunt tenetur accusantium et iusto est et recusandae. Temporibus aut et repellat aut perspiciatis repellendus. Ut sint amet sit quibusdam. Nisi eos aspernatur consequatur. Optio numquam ut autem ut temporibus. Itaque vel ipsam rerum et dolores enim corporis nesciunt. Eos suscipit laudantium quis qui ratione sed cumque blanditiis. Saepe qui necessitatibus error voluptas in quis atque. Sed temporibus aliquam ratione quas velit debitis.</p>
    <p>Quo et laudantium iusto praesentium deleniti illum ut. Saepe et qui. Vel consequatur unde molestiae id est. Officiis tempore non iusto libero inventore ipsa ipsum. Quibusdam est dolor autem ratione saepe natus nobis enim. Voluptate sit repudiandae ut veniam in. Sapiente soluta voluptate maiores voluptas consequuntur explicabo. Fugit corrupti molestiae qui dolore quod. Fugit architecto earum deserunt repellat inventore et. Sint nulla voluptatum sint itaque. Deleniti in explicabo eaque architecto quia rerum. Omnis iste consequuntur placeat qui rerum cupiditate.</p>
    <p>Dolores voluptatem aliquid possimus. Vel odit eius consequatur. Ea commodi molestias reprehenderit aut debitis magnam consequatur laboriosam veritatis. Eveniet fugiat consequatur totam corporis. Eum voluptas reprehenderit quod. Sit est voluptatem rerum. Voluptatibus ut et dolorem cumque fuga molestias ullam laborum. Dolores quos fugit officia esse neque nesciunt ipsam placeat. Voluptatem animi qui natus et in ad. Ut et excepturi corrupti debitis beatae veritatis occaecati aut.</p>
    <p>Itaque reiciendis dolores ut sed officiis tempore quis dolores nam. Deleniti temporibus a. Et quia quo nisi suscipit ipsum. Aut dolores ullam modi. Suscipit vitae dicta rerum neque aut aspernatur expedita. Quasi magnam commodi qui in. Saepe assumenda id iure est officiis quibusdam. Perferendis doloremque labore officia est nam. Cum quos repellat qui unde delectus voluptatibus quidem. Et nihil blanditiis adipisci tempora. Ea maxime omnis mollitia sint. Id quaerat perferendis velit esse.</p>
</main>
<footer class="c-footer">
  <a class="c-logo-cdl" href="https://cdlib.org">
  <img src="../../ui-assets/logo-cdl.svg" alt="California Digital Library logo" width="104" height="39" loading="lazy">
</a>

  <nav aria-label="footer" class="c-footernav">
  <ul>
    <li><a href="">About</a></li>
    <li><a href="">Contact Us</a></li>
    <li><a href="">Terms of Use</a></li>
    <li><a href="">Privacy Statement</a></li>
    <li><a href="">GitHub</a></li>
    <li><a href="">Accessibility</a></li>
    <li><a href="">Site Map</a></li>
  </ul>
</nav>

  <div class="c-copyright">
  <p>DMPTool is a service of the <a href="https://cdlib.org">California Digital Library</a>, a division of the <a href="https://www.universityofcalifornia.edu">University of California Office of the President</a>. Version: v3.1.5</p>

  <p>&copy; 2021 The Regents of the University of California</p>
</div>

</footer>


    <script>
      if (document.querySelector('.c-header')) {
        document.querySelector('#js-headernav').hidden = true
      }
    </script>
    <script src="../../ui-assets/main.js"></script>
  </body>
</html>

