

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DMPTool</title>
    <link href="../../ui-assets/favicon.ico" rel="shortcut icon">
    <link rel="stylesheet" href="../../ui-assets/dmproadmap.css">
    <link rel="stylesheet" href="../../ui-assets/main.css">
  </head>
  <body class="t-generic">
    <a href="#maincontent" class="c-skipnav">Skip to main content</a>

<header class="c-header">
  <a class="c-logo-dmptool" href="/">
  <picture>
    <source srcset="../../ui-assets/logo-dmptool-large.svg" media="(min-width: 50rem)" width="272" height="73">
    <img src="../../ui-assets/logo-dmptool-small.svg" alt="DMPTool logo" width="208" height="37">
  </picture>
</a>

  <div class="c-headermenugroup">
        <a class="c-signin" href="path/to/home">Sign In</a>

    <!-- This menu uses accessibility techniques from: https://www.w3.org/TR/wai-aria-practices-1.1/examples/menu-button/menu-button-links.html -->

<div id="js-language" class="c-language c-headermenu">
  <button id="js-language__button" class="c-headermenu__button" aria-haspopup="true">Language</button>
  <ul id="js-language__menu" class="c-headermenu__menu" hidden>
    <li><a role="menuitem" href="https://dmptool.org/locale/en-US">English (US)</a></li>
    <li lang="pt"><a role="menuitem" href="https://dmptool.org/locale/pt-BR">Português (Brasil)</a></li>
  </ul>
</div>

  </div>
  <button id="js-navtoggle" class="c-navtoggle" aria-label="main navigation"></button>

  <nav aria-label="main" id="js-headernav" class="c-headernav">
    <ul>
      <li><a href="">Funder Requirements</a></li>
      <li><a href="">Public DMPs</a></li>
      <li><a href="">Help</a></li>
    </ul>
  </nav>
</header>
<main id="maincontent">
  <h1>Generic Page</h1>
    <p>Voluptatibus atque laboriosam adipisci sunt cumque. Maiores deserunt sint voluptatem et. Expedita eaque temporibus illum et minima quia pariatur ut voluptatibus. Vero iste occaecati quod voluptatem occaecati optio. Asperiores et sed blanditiis sequi ea temporibus perspiciatis. Voluptatem similique laboriosam voluptates voluptas nesciunt totam dicta. Alias reiciendis accusantium. Explicabo sequi aut adipisci delectus cumque omnis corrupti iusto. Dolores enim beatae molestias. Excepturi voluptas enim quis recusandae rerum nesciunt enim voluptas. Totam perferendis nisi sint incidunt laborum enim quasi enim deleniti. Magni amet ad et rerum eaque quo. Id corrupti qui neque.</p>
    <p>Quisquam nostrum officia fugiat. Nulla omnis est molestias pariatur voluptas sint. Dolores est aut voluptatem totam error ipsum et. Est natus quos dolores earum. Laborum iste veniam quis itaque doloribus est et omnis. Amet aut ad in. Voluptatum maiores itaque illo. Nihil officia possimus rerum quod reiciendis accusamus enim voluptatem corporis. Ab assumenda delectus. Architecto qui qui. Enim tenetur tempora repellendus et illum. Modi est ullam minus eum explicabo tenetur. Eos et autem aliquam.</p>
    <p>Nemo non provident nulla sunt repellendus nihil qui laborum. Quo et fugit dolorum. Omnis molestiae consequatur qui dolor totam aliquam ea hic enim. Magnam qui hic eaque nihil voluptatem odio aperiam excepturi. Omnis sint tempore temporibus optio tenetur enim eligendi. Quia sapiente fugit et voluptates rerum dolor voluptatum beatae. Perspiciatis facere consequatur rerum. Accusamus iste vel expedita architecto eos voluptatem maiores. Quia iusto in dolore dolor soluta nihil. Blanditiis velit voluptate doloribus et eum consequuntur sunt quo natus. Sunt consectetur ratione. Inventore tempora quisquam vero non.</p>
    <p>Nihil assumenda odit beatae voluptates. Numquam sint quia nobis iure eos. Consequatur numquam saepe est omnis corporis. Architecto omnis fugiat aut harum facilis impedit vel. Et quia ullam aliquam nemo soluta et. Ea ut quam vitae. In odit qui vel ducimus sunt cupiditate veritatis ipsam. Corporis et earum eos temporibus consequatur quia deserunt tempore. Sequi aut dolor. Quo qui molestiae harum reprehenderit provident voluptates.</p>
    <p>Assumenda saepe assumenda exercitationem molestias id quos enim et. Esse et quaerat hic mollitia quod labore assumenda unde. Nisi dolores ipsam minus est. Cupiditate a labore incidunt nihil ullam sed et doloribus et. Voluptatibus voluptas provident quas. Ut in voluptas quibusdam. Ratione illo officia amet quidem occaecati ratione fugit. Alias dicta enim consequatur velit illum eius sapiente minus. Qui quasi accusantium quam et explicabo porro iste maiores provident. Quas delectus ullam quia mollitia earum fugit. Saepe officia voluptas consequatur voluptatibus velit tempora beatae.</p>
</main>
<footer class="c-footer">
  <a class="c-logo-cdl" href="https://cdlib.org">
  <img src="../../ui-assets/logo-cdl.svg" alt="California Digital Library logo" width="104" height="39" loading="lazy">
</a>

  <nav aria-label="footer" class="c-footernav">
  <ul>
    <li><a href="">About</a></li>
    <li><a href="">Contact Us</a></li>
    <li><a href="">Terms of Use</a></li>
    <li><a href="">Privacy Statement</a></li>
    <li><a href="">GitHub</a></li>
    <li><a href="">Accessibility</a></li>
    <li><a href="">Site Map</a></li>
  </ul>
</nav>

  <div class="c-copyright">
  <p>DMPTool is a service of the <a href="https://cdlib.org">California Digital Library</a>, a division of the <a href="https://www.universityofcalifornia.edu">University of California Office of the President</a>. Version: v3.1.5</p>

  <p>&copy; 2021 The Regents of the University of California</p>
</div>

</footer>


    <script>
      if (document.querySelector('.c-header')) {
        document.querySelector('#js-headernav').hidden = true
      }
    </script>
    <script src="../../ui-assets/main.js"></script>
  </body>
</html>

