

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DMPTool</title>
    <link href="../../ui-assets/favicon.ico" rel="shortcut icon">
    <link rel="stylesheet" href="../../ui-assets/main.css">
  </head>
  <body class="t-generic">
    <a href="#maincontent" class="c-skipnav">Skip to main content</a>

<header class="c-header">
  <a class="c-logo-dmptool" href="/">
  <picture>
    <source srcset="../../ui-assets/logo-dmptool-large.svg" media="(min-width: 50rem)" width="272" height="73">
    <img src="../../ui-assets/logo-dmptool-small.svg" alt="DMPTool logo" width="208" height="37">
  </picture>
</a>

  <div class="c-headermenugroup">
        <!-- This menu uses accessibility techniques from: https://www.w3.org/TR/wai-aria-practices-1.1/examples/menu-button/menu-button-links.html -->

<div id="js-user-profile" class="c-profile c-headermenu">
  <button id="js-user-profile__button" class="c-headermenu__button" aria-label="Jane Doe profile" aria-haspopup="true">Jane Doe</button>
  <ul id="js-user-profile__menu" class="c-headermenu__menu" hidden>
    <li><a role="menuitem" href="https://dmptool.org/users/edit">Edit profile</a></li>
    <li><a role="menuitem" href="https://dmptool.org/users/third_party_apps">3rd party applications</a></li>
    <li><a role="menuitem" href="https://dmptool.org/users/developer_tools">Developer tools</a></li>
    <li><a role="menuitem" href="https://dmptool.org/users/sign_out">Sign out</a></li>
  </ul>
</div>

    <!-- This menu uses accessibility techniques from: https://www.w3.org/TR/wai-aria-practices-1.1/examples/menu-button/menu-button-links.html -->

<div id="js-language" class="c-language c-headermenu">
  <button id="js-language__button" class="c-headermenu__button" aria-haspopup="true">Language</button>
  <ul id="js-language__menu" class="c-headermenu__menu" hidden>
    <li><a role="menuitem" href="https://dmptool.org/locale/en-US">English (US)</a></li>
    <li lang="pt"><a role="menuitem" href="https://dmptool.org/locale/pt-BR">Português (Brasil)</a></li>
  </ul>
</div>

  </div>
  <button id="js-navtoggle" class="c-navtoggle" aria-label="main navigation"></button>

  <nav aria-label="main" id="js-headernav" class="c-headernav">
    <ul>
        <li><a href="">Dashboard</a></li>
      <li><a href="">Funder Requirements</a></li>
      <li><a href="">Public DMPs</a></li>
      <li><a href="">Help</a></li>
    </ul>
  </nav>
    <div class="c-subheader">
      <a class="c-logo-org" href="https://www.ucmerced.edu">
    <img src="../../ui-assets/logo-ucm.svg" alt="UC Merced logo" width="104" height="39">
</a>

      <div class="c-headermenugroup">
  <!-- This menu uses accessibility techniques from: https://www.w3.org/TR/wai-aria-practices-1.1/examples/menu-button/menu-button-links.html -->

<div id="js-admin" class="c-admin c-headermenu">
  <button id="js-admin__button" class="c-headermenu__button" aria-haspopup="true" aria-label="administrator menu">
    Admin
  </button>
  <ul id="js-admin__menu" class="c-headermenu__menu" hidden>
    <li><a role="menuitem" href="/super_admin/api_clients">Api Clients</a></li>
    <li><a role="menuitem" href="/org/admin/guidance/15/admin_index">Guidance</a></li>
    <li><a role="menuitem" href="/super_admin/notifications">Notifications</a></li>
    <li><a role="menuitem" href="/org/admin/15/admin_edit">Organization details</a></li>
    <li><a role="menuitem" href="/org_admin/plans">Plans</a></li>
    <li><a role="menuitem" href="/org_admin/templates">Templates</a></li>
    <li><a role="menuitem" href="/super_admin/themes">Themes</a></li>
    <li><a role="menuitem" href="/usage">Usage</a></li>
    <li><a role="menuitem" href="/org/admin/users/admin_index">Users</a></li>
  </ul>
</div>

</div>

      <ul class="c-links-org">
  <li>
    <a class="c-links-org__ucop" target="_blank" href="http://www.ucop.edu/">UCOP website</a>
  </li>
  <li>
    <a class="c-links-org__uc3-helpdesk" href="mailto:uc3@ucop.edu">UC3 Helpdesk</a>
  </li>
</ul>

    </div>
    <div class="c-notificationgroup">
  <div id="js-notification-info" class="c-notification--info" role="alert">
  <p>Successfully saved your changes.</p>
  <button id="js-notification-close" class="c-notification__close"><span>Close</span></button>
</div>

  <div id="js-notification-warning" class="c-notification--warning" role="alert">
  <p>The system will be down for maintenance starting 12/31/2025.</p>
  <button id="js-notification-close" class="c-notification__close"><span>Close</span></button>
</div>

</div>

</header>
<main id="maincontent">
  <h1>Generic Page</h1>
    <p>Et molestiae optio eos quod dolorem dicta voluptatem velit repellat. Ad similique tempore occaecati est magni impedit fuga reiciendis incidunt. Perspiciatis molestias fuga dolores saepe laborum soluta. Vero exercitationem aut repellat quis. Et vero odio voluptas minima quibusdam deserunt accusantium ut. Dolorem ut laudantium fugiat et ad quae molestiae. Voluptatum voluptate temporibus est sunt beatae quaerat. Necessitatibus voluptate quod. Non ut maxime necessitatibus qui ex eligendi facilis. Quia sit dolore velit eum et eveniet neque itaque. Sit nisi nobis.</p>
    <p>Optio consequatur accusantium. Sint officiis similique id ex ducimus esse aut non. Voluptas voluptas cumque ut. Non eius quibusdam cupiditate sit dolore enim consequatur iure est. Quam ut eligendi quo expedita praesentium mollitia voluptatum. Recusandae quis velit. Accusamus omnis corrupti nisi quod nostrum nisi. Fuga enim et autem. Ipsa porro et ea consequatur nemo aut unde itaque incidunt. Assumenda pariatur recusandae. Reprehenderit velit ut labore aut quia.</p>
    <p>Aperiam eius ad. Quidem necessitatibus fugit alias magnam. Quaerat illo consequatur. Error sint eum esse sapiente excepturi est quia autem. Sed et ad aliquam. Quis deleniti quisquam animi. Libero dolorem consequatur dolorem ipsum nihil iure necessitatibus. Alias et iste incidunt eum non. Earum aperiam id qui ea consequatur illo consequatur consequatur. Eligendi non velit omnis debitis consequatur veniam aut. Nam et fuga iure.</p>
    <p>Suscipit nihil sit voluptatem molestias totam excepturi. Consectetur dolor debitis sed. Aut sint commodi possimus sed. Minus et voluptas sunt exercitationem. Modi illo et laboriosam beatae laborum sapiente delectus nemo. Eum officiis voluptatem. Sunt aperiam doloremque et at reiciendis tenetur. Voluptas quia sunt nemo facilis illo. Et atque cum. Et sed mollitia et porro quis et. Quia ut odit.</p>
    <p>Molestias pariatur suscipit excepturi unde minima placeat. Et corrupti minima quasi eveniet accusantium enim. Nemo qui architecto qui odit est rerum dolore adipisci saepe. Eveniet laborum perferendis. Maxime tenetur enim. Ut a quos consequatur. Tenetur ut eveniet animi excepturi ipsam velit suscipit. Libero quae cupiditate aliquam quae. Cum dolores tempore blanditiis sunt sapiente esse aut magnam ut. Excepturi quis sapiente voluptas totam consequatur quam error assumenda.</p>
</main>
<footer class="c-footer">
  <a class="c-logo-cdl" href="https://cdlib.org">
  <img src="../../ui-assets/logo-cdl.svg" alt="California Digital Library logo" width="104" height="39" loading="lazy">
</a>

  <nav aria-label="footer" class="c-footernav">
  <ul>
    <li><a href="">About</a></li>
    <li><a href="">Contact Us</a></li>
    <li><a href="">Terms of Use</a></li>
    <li><a href="">Privacy Statement</a></li>
    <li><a href="">GitHub</a></li>
    <li><a href="">Accessibility</a></li>
    <li><a href="">Site Map</a></li>
  </ul>
</nav>

  <div class="c-copyright">
  <p>DMPTool is a service of the <a href="https://cdlib.org">California Digital Library</a>, a division of the <a href="https://www.universityofcalifornia.edu">University of California Office of the President</a>. Version: v3.1.5</p>

  <p>&copy; 2021 The Regents of the University of California</p>
</div>

</footer>


    <script>
      if (document.querySelector('.c-header')) {
        document.querySelector('#js-headernav').hidden = true
      }
    </script>
    <script src="../../ui-assets/main.js"></script>
  </body>
</html>

