

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DMPTool Build Tool Tests</title>
    <link href="../../ui-assets/favicon.ico" rel="shortcut icon">
    <link rel="stylesheet" href="../../ui-assets/main.css">
  </head>
  <body class="t-tests">
    <h1>Lorem Ipsum Dolor Sit Amet Consectetur Adipisicing Elit</h1>

<h2>Accusantium Eveniet Ratione Minima Consectetur Cupiditate</h2>

<h3>Voluptates Nam Aliquid A Mollitia</h3>

<h4>Quae Illo Doloribus Repudiandae Exercitationem Natus Repellendus</h4>

    <script src="../../ui-assets/main.js"></script>
  </body>
</html>

