

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DMPTool UI</title>
    <link rel="stylesheet" href="../../ui-assets/main.css">
  </head>
  <body class="t-default">
    <header class="c-header">
  <a class="c-logo-dmptool" href="/">
  <picture>
    <source srcset="../../ui-assets/images/logo-dmptool-large.svg" media="(min-width: 50rem)">
    <img src="../../ui-assets/images/logo-dmptool-small.svg" alt="DMPTool logo">
  </picture>
</a>

  <button id="js-navtoggle" class="c-navtoggle" aria-label="main navigation"></button>

  <nav aria-label="main" id="js-headernav" class="sc-nav c-headernav" hidden>
  <ul>
    <li><a href="">Home</a></li>
    <li><a href="">Public DMPs</a></li>
    <li><a href="">Funder Requirements</a></li>
    <li><a href="">Help</a></li>
  </ul>
</nav>

  <nav aria-label="language" class="c-language">
  <ul>
    <li>
      <a href="#">Language</a>
      <ul>
        <li><a href="https://dmptool.org/locale/en-US">English (US)</a></li>
        <li><a href="https://dmptool.org/locale/pt-BR">Português (Brasil)</a></li>
      </ul>
    </li>
  </ul>
</nav>

</header>

    <script src="../../ui-assets/main.js"></script>
  </body>
</html>

