

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DMPTool UI</title>
    <link rel="stylesheet" href="../../ui-assets/main.css">
  </head>
  <body class="t-home">
    <header class="c-header">
  <a class="c-logo-dmptool" href="/">
  <picture>
    <source srcset="../../ui-assets/images/logo-dmptool-large.svg" media="(min-width: 50rem)">
    <img src="../../ui-assets/images/logo-dmptool-small.svg" alt="DMPTool logo">
  </picture>
</a>

  <button class="c-navtoggle" aria-label="main navigation"></button>

  <nav aria-label="main" class="sc-nav c-headernav">
  <ul>
    <li><a href="">Home</a></li>
    <li><a href="">Public DMPs</a></li>
    <li><a href="">Funder Requirements</a></li>
    <li><a href="">About</a></li>
    <li><a href="">Blog</a></li>
    <li><a href="">Help</a></li>
  </ul>
</nav>

  <div class="c-language">
  [Language]
</div>

</header>

<main id="maincontent">
  <div class="c-calltoaction">
  <div class="c-calltoaction__content">
    <h1>Create, review, share and publish DMPs that meet institutional and funder requirements.</h1>
  </div>
</div>

  <div class="c-home-stats">
  <ul>
    <li class="c-home-stats__users">12,345,678 Users</li>
    <li class="c-home-stats__participants"><a href="">123 Participating Institutions</a></li>
    <li class="c-home-stats__plans">12,345,678 Plans</li>
  </ul>
</div>

</main>
<aside>
  <div class="c-login">
  <img src="../../ui-assets/images/login-sample.png" alt="login sample">
</div>

</aside>
<footer class="c-footer">
  <nav aria-label="footer" class="sc-nav c-footernav">
  <ul>
    <li><a href="">About</a></li>
    <li><a href="">Contact Us</a></li>
    <li><a href="">Terms of Use</a></li>
    <li><a href="">Privacy Statement</a></li>
    <li><a href="">GitHub</a></li>
    <li><a href="">Accessibility</a></li>
    <li><a href="">Site Map</a></li>
  </ul>
</nav>

  <div class="c-social">
  <ul>
    <li><a class="c-social__icon-twitter" href=""><span>Twitter</span></a></li>
    <li><a class="c-social__icon-rss" href=""><span>RSS</span></a></li>
  </ul>
</div>

  <a class="c-footer__logo-cdl" href="https://cdlib.org">
    <img src="../../ui-assets/images/logo-cdl.svg" alt="California Digital Library logo">
  </a>
  <p class="c-footer__copyright">
    &copy; 2010-2021 The Regents of the University of California
  </p>
  <p class="c-footer__version">
    Version: v3.1.5;
  </p>
</footer>


    <script src="../../ui-assets/main.js"></script>
  </body>
</html>

