

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DMPTool Build Tool Tests</title>
    <link href="../../ui-assets/favicon.ico" rel="shortcut icon">
    <link rel="stylesheet" href="../../ui-assets/main.css">
  </head>
  <body class="t-tests">
    <div class="c-links-org">
  <ul>
    <li>
      <a target="_blank" href="http://www.ucop.edu/">
        <i class="fas fa-globe" aria-hidden="true">&nbsp;</i>
        UCOP website
      </a>
    </li>
    <li>
      <a href="mailto:uc3@ucop.edu">
        <i class="fas fa-envelope" aria-hidden="true">&nbsp;</i>
        UC3 Helpdesk
      </a>
    </li>
  </ul>
</div>
    <script>
      if (document.querySelector('.c-header')) {
        document.querySelector('#js-headernav').hidden = true
      }
    </script>
    <script src="../../ui-assets/main.js"></script>
  </body>
</html>

