

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DMPTool Build Tool Tests</title>
    <link href="../../ui-assets/favicon.ico" rel="shortcut icon">
    <link rel="stylesheet" href="../../ui-assets/main.css">
  </head>
  <body class="t-tests">
    <section class="c-login js-login">
  <header class="c-login__header">
    <h2>Sign In / Sign Up</h2>
    <p class="c-login__required-field js-login__required-field" hidden>required field</p>
  </header>
  <p role="alert" class="c-login__invalid-notification js-login__invalid-notification" hidden> Please correct the field(s) below:</p>
  <form action="" novalidate>
    <div id="login-email" class="c-textfield js-textfield ">
      <label for="email_1">Email address </label>
      <input
        id="email_1"
        type="email"
        name=""
        autocomplete="email"
        value=""
        list=""
        minlength=""
        maxlength=""
        aria-describedby="description_1 "
        required
        >
        <div id="description_1" class="c-input__general-description">For SSO, use institutional address.</div>
        <div id="" class="c-input__invalid-description js-invalid-description" hidden></div>
    </div>
    <button type="submit">Continue</button>
  </form>
  <footer class="c-login__footer">
    <p>Problems signing in? <a href="">Contact us</a>.</p>
  </footer>
</section>

    <script>
      if (document.querySelector('.c-header')) {
        document.querySelector('#js-headernav').hidden = true
      }
    </script>
    <script src="../../ui-assets/main.js"></script>
  </body>
</html>

