

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DMPTool Build Tool Tests</title>
    <link href="../../ui-assets/favicon.ico" rel="shortcut icon">
    <link rel="stylesheet" href="../../ui-assets/dmproadmap.css">
    <link rel="stylesheet" href="../../ui-assets/main.css">
  </head>
  <body class="t-tests">
    <!-- Start: @login--step-a -->
<section class="c-login js-login">
  <header class="c-login__header">
    <h2>Sign In / Sign Up</h2>
    <p class="c-login__required-field js-login__required-field" hidden>required field</p>
  </header>
  <p role="alert" class="c-login__invalid-notification js-login__invalid-notification" hidden></p>
  <form action="" class="novalidate">
    <div id="login-email" class="c-textfield js-textfield ">
      <label for="email_1">Email address </label>
      <input
        id="email_1"
        type="email"
        name=""
        autocomplete="email"
        value=""
        list=""
        minlength=""
        maxlength=""
        aria-describedby="description_1"
        class="require-me"
        
        >
        <div id="description_1" class="c-textfield__general-description">For SSO, use institutional address.</div>
        <div id="" class="c-textfield__invalid-description js-invalid-description" hidden></div>
    </div>
    <button type="submit">Continue</button>
  </form>
  <footer class="c-login__footer">
    <p>Problems signing in? <a href="">Contact us</a>.</p>
  </footer>
</section>
<!-- End: @login--step-a -->

<!-- Start: @login--b -->
<section class="c-login js-login">
  <header class="c-login__header">
    <h2>New Account Sign Up</h2>
    <p class="c-login__required-field js-login__required-field" hidden>required field</p>
  </header>
  <p role="alert" class="c-login__invalid-notification js-login__invalid-notification" hidden></p>
  <form action="" class="novalidate">
    <div id="login-email" class="c-textfield js-textfield ">
      <label for="email_2">Email address </label>
      <input
        id="email_2"
        type="email"
        name=""
        autocomplete="email"
        value="Aurelia_Hermann@example.com"
        list=""
        minlength=""
        maxlength=""
        
        
        class="readonly"
        >
        <div id="" class="c-textfield__invalid-description js-invalid-description" hidden></div>
    </div>
    <p>Your address is associated with:</p>
    <p><strong>University of California, Office of the President (UCOP)</strong></p>
    <button type="submit">Sign In with Institution to Continue</button>
    <p>This will create a new account. If you already have an account, <a href="">go back</a> to try a different email address, or <a href="">contact us</a>.</p>
  </form>
  <a class="c-serialnav" rel="prev" href="">Go Back</a>
</section>
<!-- End: @login--b -->

<!-- Start: @login--c -->
<section class="c-login js-login">
  <header class="c-login__header">
    <h2>Sign In</h2>
    <p class="c-login__required-field js-login__required-field" hidden>required field</p>
  </header>
  <p role="alert" class="c-login__invalid-notification js-login__invalid-notification" hidden></p>
  <form action="" class="novalidate">
    <div id="login-email" class="c-textfield js-textfield ">
      <label for="email_3">Email address </label>
      <input
        id="email_3"
        type="email"
        name=""
        autocomplete="email"
        value="Patrick_Schowalter41@example.net"
        list=""
        minlength=""
        maxlength=""
        
        
        class="readonly"
        >
        <div id="" class="c-textfield__invalid-description js-invalid-description" hidden></div>
    </div>
    <p>Your account is associated with:</p>
    <p><strong>University of California, Office of the President (UCOP)</strong></p>
    <button type="submit">Sign In with Institution to Continue</button>
  </form>
  <a class="c-serialnav" rel="prev" href="">Go Back</a>
  <footer class="c-login__footer">
    <p>Problems signing in? <a href="">Contact us</a>.</p>
  </footer>
</section>
<!-- End: @login--c -->

<!-- Start: @login--d -->
<section class="c-login js-login">
  <header class="c-login__header">
    <h2>Sign In</h2>
    <p class="c-login__required-field js-login__required-field" hidden>required field</p>
  </header>
  <p role="alert" class="c-login__invalid-notification js-login__invalid-notification" hidden></p>
  <form action="" class="novalidate">
    <div id="" class="c-textfield js-textfield ">
      <label for="email_4">Email address </label>
      <input
        id="email_4"
        type="email"
        name=""
        autocomplete="email"
        value="Boyd_Homenick@example.com"
        list=""
        minlength=""
        maxlength=""
        
        
        class="readonly"
        >
        <div id="" class="c-textfield__invalid-description js-invalid-description" hidden></div>
    </div>
    <div id="" class="c-textfield js-textfield ">
      <label for="pass_1">Password </label>
      <input
        id="pass_1"
        type="password"
        name=""
        autocomplete="password"
        value=""
        list=""
        minlength="8"
        maxlength=""
        
        class="require-me"
        
        >
        <div id="" class="c-textfield__invalid-description js-invalid-description" hidden></div>
    </div>
    <div class="c-login__pseudo-description"><a href="">Forgot password?</a></div>
    <button type="submit">Sign In</button>
  </form>
  <a class="c-serialnav" rel="prev" href="">Go Back</a>
  <footer class="c-login__footer">
    <p>Problems signing in? <a href="">Contact us</a>.</p>
  </footer>
</section>
<!-- End: @login--d -->

<!-- Start: @login--e -->
<section class="c-login js-login">
  <header class="c-login__header">
    <h2>New Account Sign Up</h2>
    <p class="c-login__required-field js-login__required-field" hidden>required field</p>
  </header>
  <p role="alert" class="c-login__invalid-notification js-login__invalid-notification" hidden></p>
  <form method="post" action="https://www.hashemian.com/tools/form-post-tester.php/dmptool123" class="novalidate">
    <datalist id="the-datalist-id">
      <option value="University of California, Berkeley"></option>
      <option value="Harvard University"></option>
      <option value="Stanford University"></option>
      <option value="California State University, East Bay"></option>
      <option value="Boston College"></option>
    </datalist>
    <div id="" class="c-textfield js-textfield ">
      <label for="email_5">Email address </label>
      <input
        id="email_5"
        type="email"
        name="email"
        autocomplete="email"
        value="Kassandra.Langosh21@example.com"
        list=""
        minlength=""
        maxlength=""
        
        
        class="readonly"
        >
        <div id="" class="c-textfield__invalid-description js-invalid-description" hidden></div>
    </div>
    <div id="" class="c-textfield js-textfield ">
      <label for="first_1">First name </label>
      <input
        id="first_1"
        type="text"
        name="firstname"
        autocomplete="given-name"
        value=""
        list=""
        minlength=""
        maxlength=""
        
        class="require-me"
        
        >
        <div id="" class="c-textfield__invalid-description js-invalid-description" hidden></div>
    </div>
    <div id="" class="c-textfield js-textfield ">
      <label for="last_1">Last name </label>
      <input
        id="last_1"
        type="text"
        name="lastname"
        autocomplete="family-name"
        value=""
        list=""
        minlength=""
        maxlength=""
        
        class="require-me"
        
        >
        <div id="" class="c-textfield__invalid-description js-invalid-description" hidden></div>
    </div>
    <div id="js-inst-textfield" class="c-textfield js-textfield ">
      <label for="inst_1">Institution </label>
      <input
        id="inst_1"
        type="text"
        name="institution"
        autocomplete="off"
        value=""
        list="the-datalist-id"
        minlength=""
        maxlength=""
        
        class="require-me"
        
        >
        <div id="" class="c-textfield__invalid-description js-invalid-description" hidden></div>
    </div>
    <div class="c-login__pseudo-description">
      <div id="js-unlisted-checkbox" class="c-checkbox js-checkbox ">
        <input
          id="listed_1"
          type="checkbox"
          name="unlisted"
          value="true"
          aria-describedby="
          "
          >
        <label for="listed_1">My institution is not on the list</label>
          <div id="" class="c-checkbox__invalid-description js-invalid-description" hidden></div>
      </div>
    </div>
    <div id="js-password-field" class="c-textfield js-textfield ">
      <label for="pass_1">Password <em>(at least 8 characters)</em></label>
      <input
        id="pass_1"
        type="password"
        name="password"
        autocomplete="password"
        value=""
        list=""
        minlength="8"
        maxlength=""
        
        class="require-me"
        
        >
        <div id="" class="c-textfield__invalid-description js-invalid-description" hidden></div>
    </div>
    <div class="c-login__pseudo-description">
      <div id="js-password-toggle" class="c-checkbox js-checkbox ">
        <input
          id="show_1"
          type="checkbox"
          name=""
          value=""
          aria-describedby="
          "
          >
        <label for="show_1">Show password</label>
          <div id="" class="c-checkbox__invalid-description js-invalid-description" hidden></div>
      </div>
    </div>
    <div id="" class="c-checkbox js-checkbox ">
      <input
        id="terms_1"
        type="checkbox"
        name="terms"
        value="Terms and conditions accepted."
        aria-describedby="
        "
        class="require-me">
      <label for="terms_1">I accept the terms and conditions</label>
        <div id="" class="c-checkbox__invalid-description js-invalid-description" hidden></div>
    </div>
    <button type="submit">Sign Up</button>
    <p>This will create a new account. If you already have an account, <a href="">go back</a> to try a different email address, or <a href="">contact us</a>.</p>
  </form>
  <a class="c-serialnav" rel="prev" href="">Go Back</a>
</section>
<!-- End: @login--e -->

    <script>
      if (document.querySelector('.c-header')) {
        document.querySelector('#js-headernav').hidden = true
      }
    </script>
    <script src="../../ui-assets/main.js"></script>
  </body>
</html>

