

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DMPTool Build Tool Tests</title>
    <link href="../../ui-assets/favicon.ico" rel="shortcut icon">
    <link rel="stylesheet" href="../../ui-assets/dmproadmap.css">
    <link rel="stylesheet" href="../../ui-assets/main.css">
  </head>
  <body class="t-tests">
    <section class="c-login js-login">
  <header class="c-login__header">
    <h2>Sign In</h2>
    <p class="c-login__required-field js-login__required-field" hidden>required field</p>
  </header>
  <p role="alert" class="c-login__invalid-notification js-login__invalid-notification" hidden></p>
  <form action="" class="novalidate">
    <div id="" class="c-textfield js-textfield ">
      <label for="email_4">Email address </label>
      <input
        id="email_4"
        type="email"
        name=""
        autocomplete="email"
        value="Nedra_Feeney@example.net"
        list=""
        minlength=""
        maxlength=""
        
        
        class="readonly"
        >
        <div id="" class="c-textfield__invalid-description js-invalid-description" hidden></div>
    </div>
    <div id="" class="c-textfield js-textfield ">
      <label for="pass_1">Password </label>
      <input
        id="pass_1"
        type="password"
        name=""
        autocomplete="password"
        value=""
        list=""
        minlength="8"
        maxlength=""
        
        class="require-me"
        
        >
        <div id="" class="c-textfield__invalid-description js-invalid-description" hidden></div>
    </div>
    <div class="c-login__pseudo-description"><a href="">Forgot password?</a></div>
    <button type="submit">Sign In</button>
  </form>
  <a class="c-serialnav" rel="prev" href="">Go Back</a>
  <footer class="c-login__footer">
    <p>Problems signing in? <a href="">Contact us</a>.</p>
  </footer>
</section>

    <script>
      if (document.querySelector('.c-header')) {
        document.querySelector('#js-headernav').hidden = true
      }
    </script>
    <script src="../../ui-assets/main.js"></script>
  </body>
</html>

