

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DMPTool Build Tool Tests</title>
    <link href="../../ui-assets/favicon.ico" rel="shortcut icon">
    <link rel="stylesheet" href="../../ui-assets/dmproadmap.css">
    <link rel="stylesheet" href="../../ui-assets/main.css">
  </head>
  <body class="t-tests">
    <section class="c-login js-login">
  <header class="c-login__header">
    <h2>New Account Sign Up</h2>
    <p class="c-login__required-field js-login__required-field" hidden>required field</p>
  </header>
  <p role="alert" class="c-login__invalid-notification js-login__invalid-notification" hidden></p>
  <form action="" class="novalidate">
    <div id="login-email" class="c-textfield js-textfield ">
      <label for="email_2">Email address </label>
      <input
        id="email_2"
        type="email"
        name=""
        autocomplete="email"
        value="Aurelia_Hermann@example.com"
        list=""
        minlength=""
        maxlength=""
        
        
        class="readonly"
        >
        <div id="" class="c-textfield__invalid-description js-invalid-description" hidden></div>
    </div>
    <p>Your address is associated with:</p>
    <p><strong>University of California, Office of the President (UCOP)</strong></p>
    <button type="submit">Sign In with Institution to Continue</button>
    <p>This will create a new account. If you already have an account, <a href="">go back</a> to try a different email address, or <a href="">contact us</a>.</p>
  </form>
  <a class="c-serialnav" rel="prev" href="">Go Back</a>
</section>

    <script>
      if (document.querySelector('.c-header')) {
        document.querySelector('#js-headernav').hidden = true
      }
    </script>
    <script src="../../ui-assets/main.js"></script>
  </body>
</html>

