

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DMPTool Build Tool Tests</title>
    <link href="../../ui-assets/favicon.ico" rel="shortcut icon">
    <link rel="stylesheet" href="../../ui-assets/main.css">
  </head>
  <body class="t-tests">
    <a class="c-logo-dmptool" href="/">
  <picture>
    <source srcset="../../ui-assets/logo-dmptool-large.svg" media="(min-width: 50rem)">
    <img src="../../ui-assets/logo-dmptool-small.svg" alt="DMPTool logo" width="208" height="37">
  </picture>
</a>

    <script src="../../ui-assets/main.js"></script>
  </body>
</html>

