

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DMPTool Build Tool Tests</title>
    <link href="../../ui-assets/favicon.ico" rel="shortcut icon">
    <link rel="stylesheet" href="../../ui-assets/dmproadmap.css">
    <link rel="stylesheet" href="../../ui-assets/main.css">
  </head>
  <body class="t-tests">
    <details class="c-more">
  <summary>Show more</summary>
  <div>Asperiores quia voluptatem modi quae officiis. Ut enim quaerat assumenda nostrum. Consectetur possimus nam qui velit. Et necessitatibus est dolores aut. Voluptatem dignissimos rerum voluptate nostrum consectetur pariatur. Modi quo distinctio recusandae fugit libero consequatur nihil.</div>
</details>

    <script>
      if (document.querySelector('.c-header')) {
        document.querySelector('#js-headernav').hidden = true
      }
    </script>
    <script src="../../ui-assets/main.js"></script>
  </body>
</html>

