

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DMPTool Build Tool Tests</title>
    <link href="../../ui-assets/favicon.ico" rel="shortcut icon">
    <link rel="stylesheet" href="../../ui-assets/dmproadmap.css">
    <link rel="stylesheet" href="../../ui-assets/main.css">
  </head>
  <body class="t-tests">
    <details class="c-more">
  <summary>Show more</summary>
  <div>Quia vel necessitatibus impedit qui laudantium eum quidem. Officiis eum alias eaque et unde praesentium atque. Voluptas est quidem. Ex autem dolores. Et sunt sed et vero molestiae omnis. Aut molestiae vitae magnam exercitationem dolores rerum.</div>
</details>

    <script>
      if (document.querySelector('.c-header')) {
        document.querySelector('#js-headernav').hidden = true
      }
    </script>
    <script src="../../ui-assets/main.js"></script>
  </body>
</html>

