

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DMPTool Build Tool Tests</title>
    <link href="../../ui-assets/favicon.ico" rel="shortcut icon">
    <link rel="stylesheet" href="../../ui-assets/main.css">
  </head>
  <body class="t-tests">
    <div id="notification-area"
     class="c-notification-area c-notification-area__info  hide"
     role="">
  <i class="fas fa-check-circle" aria-hidden="true"></i>
  <span class="aria-only">Notice:</span>
  <span>Successfully saved your changes</span>
</div>

<div id="global-notification-area" class="c-global-notification-area">
  <div class="alert c-global-notification-area__warning">
    <span class="fas fa-exclamation-circle"></span>
    <span class="aria-only"><strong>Warning:</strong></span>
    <span>The system will be down for maintenance starting 12/31/2025</span>
  </div>
</div>
    <script>
      if (document.querySelector('.c-header')) {
        document.querySelector('#js-headernav').hidden = true
      }
    </script>
    <script src="../../ui-assets/main.js"></script>
  </body>
</html>

