

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DMPTool Build Tool Tests</title>
    <link href="../../ui-assets/favicon.ico" rel="shortcut icon">
    <link rel="stylesheet" href="../../ui-assets/dmproadmap.css">
    <link rel="stylesheet" href="../../ui-assets/main.css">
  </head>
  <body class="t-tests">
    <section class="c-plan">
  <ul class="c-taggroup">
      <li><span class="c-tag--featured">Featured</span>
</li>
      <li><span class="c-tag--funded">Funded</span>
</li>
  </ul>
  <div class="c-plan-template">Digital Curation Centre</div>
  <h3 class="c-plan-title"><a href="">Espermatogônias tronco de zebrafish, Danio rerio: Caracterização funcional e regulação pelo Fsh (hormônio folículo estimulante)</a></h3>
  <div class="c-plan-creator">Beatriz Marques de Souza, São Paulo State University (UNESP)</div>
  <dl class="c-plan-metadata">
    <dt>DMP ID:</dt>
    <dd><a href="">https://doi.org/10.48321/D1PC7M</a></dd>
    <dt>Subject:</dt>
    <dd>Biological sciences</dd>
    <dt>Last Modified:</dt>
    <dd>October 13, 2020</dd>
    <dt>Language:</dt>
    <dd>Português (Brasil)</dd>
  </dl>
</section>

    <script>
      if (document.querySelector('.c-header')) {
        document.querySelector('#js-headernav').hidden = true
      }
    </script>
    <script src="../../ui-assets/main.js"></script>
  </body>
</html>

