

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DMPTool Build Tool Tests</title>
    <link href="../../ui-assets/favicon.ico" rel="shortcut icon">
    <link rel="stylesheet" href="../../ui-assets/main.css">
  </head>
  <body class="t-tests">
    <div id="js-user-profile" class="c-profile c-headermenu">
  <button id="js-user-profile__button" class="c-headermenu__button" aria-label="Jane Doe profile" aria-haspopup="true">Jane Doe</button>
  <ul id="js-user-profile__menu" class="c-headermenu__menu" hidden>
    <li><a role="menuitem" href="https://dmptool.org/users/edit">Edit profile</a></li>
    <li><a role="menuitem" href="https://dmptool.org/users/third_party_apps">3rd party applications</a></li>
    <li><a role="menuitem" href="https://dmptool.org/users/developer_tools">Developer tools</a></li>
    <li><a role="menuitem" href="https://dmptool.org/users/sign_out">Sign out</a></li>
  </ul>
</div>

    <script>
      if (document.querySelector('.c-header')) {
        document.querySelector('#js-headernav').hidden = true
      }
    </script>
    <script src="../../ui-assets/main.js"></script>
  </body>
</html>

