

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DMPTool Build Tool Tests</title>
    <link href="../../ui-assets/favicon.ico" rel="shortcut icon">
    <link rel="stylesheet" href="../../ui-assets/main.css">
  </head>
  <body class="t-tests">
    <!-- Start: @serial-nav--previous -->
<a class="c-serialnav" rel="prev" href="">Back</a>
<!-- End: @serial-nav--previous -->

<!-- Start: @serial-nav--next -->
<a class="c-serialnav" rel="next" href="">Next</a>
<!-- End: @serial-nav--next -->

    <script>
      if (document.querySelector('.c-header')) {
        document.querySelector('#js-headernav').hidden = true
      }
    </script>
    <script src="../../ui-assets/main.js"></script>
  </body>
</html>

