

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DMPTool UI</title>
    <link rel="stylesheet" href="../../ui-assets/main.css">
  </head>
  <body class="t-default">
    <ul class="c-social">
  <li><a class="c-social__icon-twitter" href="" title="DMPTool Twitter"></a></li>
  <li><a class="c-social__icon-rss" href="" title="DMPTool RSS"></a></li>
</ul>

    <script src="../../ui-assets/main.js"></script>
  </body>
</html>

