

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DMPTool UI</title>
    <link rel="stylesheet" href="../../ui-assets/main.css">
  </head>
  <body class="t-default">
    <div class="c-social">
  <ul>
    <li><a class="c-social__icon-twitter" href=""><span>Twitter</span></a></li>
    <li><a class="c-social__icon-rss" href=""><span>RSS</span></a></li>
  </ul>
</div>

    <script src="../../ui-assets/main.js"></script>
  </body>
</html>

