

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DMPTool UI</title>
    <link rel="stylesheet" href="../../ui-assets/main.css">
  </head>
  <body class="t-default">
    <ul class="c-social">
  <li><a class="c-social__icon-twitter" href="https://twitter.com/TheDMPTool" target="_blank"><span class="c-social__sr-only">TheDMPTool on Twitter (opens new window)</span></a></li>
  <li><a class="c-social__icon-rss" href="https://blog.dmptool.org/feed/" target="_blank"><span class="c-social__sr-only">DMPTool RSS feed (opens new window)</span></a></li>
</ul>

    <script src="../../ui-assets/main.js"></script>
  </body>
</html>

