

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>DMPTool UI</title>
  <link rel="stylesheet" href="../../styles/main.css">
</head>
<body>
  <header class="c-header">
    <h1>
      <a href="./index.hbs">DMPTool UI</a>
    </h1>
    <a class="c-skip" href="#maincontent">Skip to main content</a>
  </header>
  <nav class="c-nav">
    [navigation]
  </nav>
  <main id="maincontent" class="c-main">
    <div class="c-test2">
  [Elements Test]
</div>

<div id="bla"></div>

<div class="bla2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>

  </main>
  <footer class="c-footer">
    [footer]
  </footer>
  <script src="../../js/main.js"></script>
</body>
</html>

